[data-color-accent="blue"] {
  --color-accent-1: light-dark(#fbfdff, #0d1520);
  --color-accent-2: light-dark(#f4faff, #111927);
  --color-accent-3: light-dark(#e6f4fe, #0d2847);
  --color-accent-4: light-dark(#d5efff, #003362);
  --color-accent-5: light-dark(#c2e5ff, #004074);
  --color-accent-6: light-dark(#acd8fc, #104d87);
  --color-accent-7: light-dark(#8ec8f6, #205d9e);
  --color-accent-8: light-dark(#5eb1ef, #2870bd);
  --color-accent-9: light-dark(#0090ff, #0090ff);
  --color-accent-10: light-dark(#0588f0, #3b9eff);
  --color-accent-11: light-dark(#0d74ce, #70b8ff);
  --color-accent-12: light-dark(#113264, #c2e6ff);
}

@media (color-gamut: p3) {
  [data-color-accent="blue"] {
    --color-accent-1: light-dark(
      color(display-p3 0.986 0.992 0.999),
      color(display-p3 0.057 0.081 0.122)
    );
    --color-accent-2: light-dark(
      color(display-p3 0.96 0.979 0.998),
      color(display-p3 0.072 0.098 0.147)
    );
    --color-accent-3: light-dark(
      color(display-p3 0.912 0.956 0.991),
      color(display-p3 0.078 0.154 0.27)
    );
    --color-accent-4: light-dark(
      color(display-p3 0.853 0.932 1),
      color(display-p3 0.033 0.197 0.37)
    );
    --color-accent-5: light-dark(
      color(display-p3 0.788 0.894 0.998),
      color(display-p3 0.08 0.245 0.441)
    );
    --color-accent-6: light-dark(
      color(display-p3 0.709 0.843 0.976),
      color(display-p3 0.14 0.298 0.511)
    );
    --color-accent-7: light-dark(
      color(display-p3 0.606 0.777 0.947),
      color(display-p3 0.195 0.361 0.6)
    );
    --color-accent-8: light-dark(
      color(display-p3 0.451 0.688 0.917),
      color(display-p3 0.239 0.434 0.72)
    );
    --color-accent-9: light-dark(
      color(display-p3 0.247 0.556 0.969),
      color(display-p3 0.247 0.556 0.969)
    );
    --color-accent-10: light-dark(
      color(display-p3 0.234 0.523 0.912),
      color(display-p3 0.344 0.612 0.973)
    );
    --color-accent-11: light-dark(color(display-p3 0.15 0.44 0.84), color(display-p3 0.49 0.72 1));
    --color-accent-12: light-dark(
      color(display-p3 0.102 0.193 0.379),
      color(display-p3 0.788 0.898 0.99)
    );
  }
}
