[data-color-accent="gold"] {
  --color-accent-1: light-dark(#fdfdfc, #121211);
  --color-accent-2: light-dark(#faf9f2, #1b1a17);
  --color-accent-3: light-dark(#f2f0e7, #24231f);
  --color-accent-4: light-dark(#eae6db, #2d2b26);
  --color-accent-5: light-dark(#e1dccf, #38352e);
  --color-accent-6: light-dark(#d8d0bf, #444039);
  --color-accent-7: light-dark(#cbc0aa, #544f46);
  --color-accent-8: light-dark(#b9a88d, #696256);
  --color-accent-9: light-dark(#978365, #978365);
  --color-accent-10: light-dark(#8c7a5e, #a39073);
  --color-accent-11: light-dark(#71624b, #cbb99f);
  --color-accent-12: light-dark(#3b352b, #e8e2d9);
}

@media (color-gamut: p3) {
  [data-color-accent="gold"] {
    --color-accent-1: light-dark(
      color(display-p3 0.992 0.992 0.989),
      color(display-p3 0.071 0.071 0.067)
    );
    --color-accent-2: light-dark(
      color(display-p3 0.98 0.976 0.953),
      color(display-p3 0.104 0.101 0.09)
    );
    --color-accent-3: light-dark(
      color(display-p3 0.947 0.94 0.909),
      color(display-p3 0.141 0.136 0.122)
    );
    --color-accent-4: light-dark(
      color(display-p3 0.914 0.904 0.865),
      color(display-p3 0.177 0.17 0.152)
    );
    --color-accent-5: light-dark(
      color(display-p3 0.88 0.865 0.816),
      color(display-p3 0.217 0.207 0.185)
    );
    --color-accent-6: light-dark(
      color(display-p3 0.84 0.818 0.756),
      color(display-p3 0.265 0.252 0.225)
    );
    --color-accent-7: light-dark(
      color(display-p3 0.788 0.753 0.677),
      color(display-p3 0.327 0.31 0.277)
    );
    --color-accent-8: light-dark(
      color(display-p3 0.715 0.66 0.565),
      color(display-p3 0.407 0.384 0.342)
    );
    --color-accent-9: light-dark(
      color(display-p3 0.579 0.517 0.41),
      color(display-p3 0.579 0.517 0.41)
    );
    --color-accent-10: light-dark(
      color(display-p3 0.538 0.479 0.38),
      color(display-p3 0.628 0.566 0.463)
    );
    --color-accent-11: light-dark(
      color(display-p3 0.433 0.386 0.305),
      color(display-p3 0.784 0.728 0.635)
    );
    --color-accent-12: light-dark(
      color(display-p3 0.227 0.209 0.173),
      color(display-p3 0.906 0.887 0.855)
    );
  }
}
