[data-color-accent="grass"] {
  --color-accent-1: light-dark(#fbfefb, #0e1511);
  --color-accent-2: light-dark(#f5fbf5, #141a15);
  --color-accent-3: light-dark(#e9f6e9, #1b2a1e);
  --color-accent-4: light-dark(#daf1db, #1d3a24);
  --color-accent-5: light-dark(#c9e8ca, #25482d);
  --color-accent-6: light-dark(#b2ddb5, #2d5736);
  --color-accent-7: light-dark(#94ce9a, #366740);
  --color-accent-8: light-dark(#65ba74, #3e7949);
  --color-accent-9: light-dark(#46a758, #46a758);
  --color-accent-10: light-dark(#3e9b4f, #53b365);
  --color-accent-11: light-dark(#2a7e3b, #71d083);
  --color-accent-12: light-dark(#203c25, #c2f0c2);
}

@media (color-gamut: p3) {
  [data-color-accent="grass"] {
    --color-accent-1: light-dark(
      color(display-p3 0.986 0.996 0.985),
      color(display-p3 0.062 0.083 0.067)
    );
    --color-accent-2: light-dark(
      color(display-p3 0.966 0.983 0.964),
      color(display-p3 0.083 0.103 0.085)
    );
    --color-accent-3: light-dark(
      color(display-p3 0.923 0.965 0.917),
      color(display-p3 0.118 0.163 0.122)
    );
    --color-accent-4: light-dark(
      color(display-p3 0.872 0.94 0.865),
      color(display-p3 0.142 0.225 0.15)
    );
    --color-accent-5: light-dark(
      color(display-p3 0.811 0.908 0.802),
      color(display-p3 0.178 0.279 0.186)
    );
    --color-accent-6: light-dark(
      color(display-p3 0.733 0.864 0.724),
      color(display-p3 0.217 0.337 0.224)
    );
    --color-accent-7: light-dark(
      color(display-p3 0.628 0.803 0.622),
      color(display-p3 0.258 0.4 0.264)
    );
    --color-accent-8: light-dark(
      color(display-p3 0.477 0.72 0.482),
      color(display-p3 0.302 0.47 0.305)
    );
    --color-accent-9: light-dark(
      color(display-p3 0.38 0.647 0.378),
      color(display-p3 0.38 0.647 0.378)
    );
    --color-accent-10: light-dark(
      color(display-p3 0.344 0.598 0.342),
      color(display-p3 0.426 0.694 0.426)
    );
    --color-accent-11: light-dark(
      color(display-p3 0.263 0.488 0.261),
      color(display-p3 0.535 0.807 0.542)
    );
    --color-accent-12: light-dark(
      color(display-p3 0.151 0.233 0.153),
      color(display-p3 0.797 0.936 0.776)
    );
  }
}
