[data-color-accent="iris"] {
  --color-accent-1: light-dark(#fdfdff, #13131e);
  --color-accent-2: light-dark(#f8f8ff, #171625);
  --color-accent-3: light-dark(#f0f1fe, #202248);
  --color-accent-4: light-dark(#e6e7ff, #262a65);
  --color-accent-5: light-dark(#dadcff, #303374);
  --color-accent-6: light-dark(#cbcdff, #3d3e82);
  --color-accent-7: light-dark(#b8baf8, #4a4a95);
  --color-accent-8: light-dark(#9b9ef0, #5958b1);
  --color-accent-9: light-dark(#5b5bd6, #5b5bd6);
  --color-accent-10: light-dark(#5151cd, #6e6ade);
  --color-accent-11: light-dark(#5753c6, #b1a9ff);
  --color-accent-12: light-dark(#272962, #e0dffe);
}

@media (color-gamut: p3) {
  [data-color-accent="iris"] {
    --color-accent-1: light-dark(
      color(display-p3 0.992 0.992 0.999),
      color(display-p3 0.075 0.075 0.114)
    );
    --color-accent-2: light-dark(
      color(display-p3 0.972 0.973 0.998),
      color(display-p3 0.089 0.086 0.14)
    );
    --color-accent-3: light-dark(
      color(display-p3 0.943 0.945 0.992),
      color(display-p3 0.128 0.134 0.272)
    );
    --color-accent-4: light-dark(
      color(display-p3 0.902 0.906 1),
      color(display-p3 0.153 0.165 0.382)
    );
    --color-accent-5: light-dark(
      color(display-p3 0.857 0.861 1),
      color(display-p3 0.192 0.201 0.44)
    );
    --color-accent-6: light-dark(
      color(display-p3 0.799 0.805 0.987),
      color(display-p3 0.239 0.241 0.491)
    );
    --color-accent-7: light-dark(
      color(display-p3 0.721 0.727 0.955),
      color(display-p3 0.291 0.289 0.565)
    );
    --color-accent-8: light-dark(
      color(display-p3 0.61 0.619 0.918),
      color(display-p3 0.35 0.345 0.673)
    );
    --color-accent-9: light-dark(
      color(display-p3 0.357 0.357 0.81),
      color(display-p3 0.357 0.357 0.81)
    );
    --color-accent-10: light-dark(
      color(display-p3 0.318 0.318 0.774),
      color(display-p3 0.428 0.416 0.843)
    );
    --color-accent-11: light-dark(
      color(display-p3 0.337 0.326 0.748),
      color(display-p3 0.685 0.662 1)
    );
    --color-accent-12: light-dark(
      color(display-p3 0.154 0.161 0.371),
      color(display-p3 0.878 0.875 0.986)
    );
  }
}
