[data-color-accent="jade"] {
  --color-accent-1: light-dark(#fbfefd, #0d1512);
  --color-accent-2: light-dark(#f4fbf7, #121c18);
  --color-accent-3: light-dark(#e6f7ed, #0f2e22);
  --color-accent-4: light-dark(#d6f1e3, #0b3b2c);
  --color-accent-5: light-dark(#c3e9d7, #114837);
  --color-accent-6: light-dark(#acdec8, #1b5745);
  --color-accent-7: light-dark(#8bceb6, #246854);
  --color-accent-8: light-dark(#56ba9f, #2a7e68);
  --color-accent-9: light-dark(#29a383, #29a383);
  --color-accent-10: light-dark(#26997b, #27b08b);
  --color-accent-11: light-dark(#208368, #1fd8a4);
  --color-accent-12: light-dark(#1d3b31, #adf0d4);
}

@media (color-gamut: p3) {
  [data-color-accent="jade"] {
    --color-accent-1: light-dark(
      color(display-p3 0.986 0.996 0.992),
      color(display-p3 0.059 0.083 0.071)
    );
    --color-accent-2: light-dark(
      color(display-p3 0.962 0.983 0.969),
      color(display-p3 0.078 0.11 0.094)
    );
    --color-accent-3: light-dark(
      color(display-p3 0.912 0.965 0.932),
      color(display-p3 0.091 0.176 0.138)
    );
    --color-accent-4: light-dark(
      color(display-p3 0.858 0.941 0.893),
      color(display-p3 0.102 0.228 0.177)
    );
    --color-accent-5: light-dark(
      color(display-p3 0.795 0.909 0.847),
      color(display-p3 0.133 0.279 0.221)
    );
    --color-accent-6: light-dark(
      color(display-p3 0.715 0.864 0.791),
      color(display-p3 0.174 0.334 0.273)
    );
    --color-accent-7: light-dark(
      color(display-p3 0.603 0.802 0.718),
      color(display-p3 0.219 0.402 0.335)
    );
    --color-accent-8: light-dark(
      color(display-p3 0.44 0.72 0.629),
      color(display-p3 0.263 0.488 0.411)
    );
    --color-accent-9: light-dark(
      color(display-p3 0.319 0.63 0.521),
      color(display-p3 0.319 0.63 0.521)
    );
    --color-accent-10: light-dark(
      color(display-p3 0.299 0.592 0.488),
      color(display-p3 0.338 0.68 0.555)
    );
    --color-accent-11: light-dark(
      color(display-p3 0.15 0.5 0.37),
      color(display-p3 0.4 0.835 0.656)
    );
    --color-accent-12: light-dark(
      color(display-p3 0.142 0.229 0.194),
      color(display-p3 0.734 0.934 0.838)
    );
  }
}
