[data-color-accent="lime"] {
  --color-accent-1: light-dark(#fcfdfa, #11130c);
  --color-accent-2: light-dark(#f8faf3, #151a10);
  --color-accent-3: light-dark(#eef6d6, #1f2917);
  --color-accent-4: light-dark(#e2f0bd, #29371d);
  --color-accent-5: light-dark(#d3e7a6, #334423);
  --color-accent-6: light-dark(#c2da91, #3d522a);
  --color-accent-7: light-dark(#abc978, #496231);
  --color-accent-8: light-dark(#8db654, #577538);
  --color-accent-9: light-dark(#bdee63, #bdee63);
  --color-accent-10: light-dark(#b0e64c, #d4ff70);
  --color-accent-11: light-dark(#5c7c2f, #bde56c);
  --color-accent-12: light-dark(#37401c, #e3f7ba);
}

@media (color-gamut: p3) {
  [data-color-accent="lime"] {
    --color-accent-1: light-dark(
      color(display-p3 0.989 0.992 0.981),
      color(display-p3 0.067 0.073 0.048)
    );
    --color-accent-2: light-dark(
      color(display-p3 0.975 0.98 0.954),
      color(display-p3 0.086 0.1 0.067)
    );
    --color-accent-3: light-dark(
      color(display-p3 0.939 0.965 0.851),
      color(display-p3 0.13 0.16 0.099)
    );
    --color-accent-4: light-dark(
      color(display-p3 0.896 0.94 0.76),
      color(display-p3 0.172 0.214 0.126)
    );
    --color-accent-5: light-dark(
      color(display-p3 0.843 0.903 0.678),
      color(display-p3 0.213 0.266 0.153)
    );
    --color-accent-6: light-dark(
      color(display-p3 0.778 0.852 0.599),
      color(display-p3 0.257 0.321 0.182)
    );
    --color-accent-7: light-dark(
      color(display-p3 0.694 0.784 0.508),
      color(display-p3 0.307 0.383 0.215)
    );
    --color-accent-8: light-dark(
      color(display-p3 0.585 0.707 0.378),
      color(display-p3 0.365 0.456 0.25)
    );
    --color-accent-9: light-dark(
      color(display-p3 0.78 0.928 0.466),
      color(display-p3 0.78 0.928 0.466)
    );
    --color-accent-10: light-dark(
      color(display-p3 0.734 0.896 0.397),
      color(display-p3 0.865 0.995 0.519)
    );
    --color-accent-11: light-dark(
      color(display-p3 0.386 0.482 0.227),
      color(display-p3 0.771 0.893 0.485)
    );
    --color-accent-12: light-dark(
      color(display-p3 0.222 0.25 0.128),
      color(display-p3 0.905 0.966 0.753)
    );
  }
}
