[data-color-accent="pink"] {
  --color-accent-1: light-dark(#fffcfe, #191117);
  --color-accent-2: light-dark(#fef7fb, #21121d);
  --color-accent-3: light-dark(#fee9f5, #37172f);
  --color-accent-4: light-dark(#fbdcef, #4b143d);
  --color-accent-5: light-dark(#f6cee7, #591c47);
  --color-accent-6: light-dark(#efbfdd, #692955);
  --color-accent-7: light-dark(#e7acd0, #833869);
  --color-accent-8: light-dark(#dd93c2, #a84885);
  --color-accent-9: light-dark(#d6409f, #d6409f);
  --color-accent-10: light-dark(#cf3897, #de51a8);
  --color-accent-11: light-dark(#c2298a, #ff8dcc);
  --color-accent-12: light-dark(#651249, #fdd1ea);
}

@media (color-gamut: p3) {
  [data-color-accent="pink"] {
    --color-accent-1: light-dark(
      color(display-p3 0.998 0.989 0.996),
      color(display-p3 0.093 0.068 0.089)
    );
    --color-accent-2: light-dark(
      color(display-p3 0.992 0.97 0.985),
      color(display-p3 0.121 0.073 0.11)
    );
    --color-accent-3: light-dark(
      color(display-p3 0.981 0.917 0.96),
      color(display-p3 0.198 0.098 0.179)
    );
    --color-accent-4: light-dark(
      color(display-p3 0.963 0.867 0.932),
      color(display-p3 0.271 0.095 0.231)
    );
    --color-accent-5: light-dark(
      color(display-p3 0.939 0.815 0.899),
      color(display-p3 0.32 0.127 0.273)
    );
    --color-accent-6: light-dark(
      color(display-p3 0.907 0.756 0.859),
      color(display-p3 0.382 0.177 0.326)
    );
    --color-accent-7: light-dark(
      color(display-p3 0.869 0.683 0.81),
      color(display-p3 0.477 0.238 0.405)
    );
    --color-accent-8: light-dark(
      color(display-p3 0.825 0.59 0.751),
      color(display-p3 0.612 0.304 0.51)
    );
    --color-accent-9: light-dark(
      color(display-p3 0.775 0.297 0.61),
      color(display-p3 0.775 0.297 0.61)
    );
    --color-accent-10: light-dark(
      color(display-p3 0.748 0.27 0.581),
      color(display-p3 0.808 0.356 0.645)
    );
    --color-accent-11: light-dark(
      color(display-p3 0.698 0.219 0.528),
      color(display-p3 1 0.535 0.78)
    );
    --color-accent-12: light-dark(
      color(display-p3 0.363 0.101 0.279),
      color(display-p3 0.964 0.826 0.912)
    );
  }
}
