[data-color-theme="light"][data-color-accent="red"] {
  --color-accent-1: #fffcfc;
  --color-accent-2: #fff7f7;
  --color-accent-3: #feebec;
  --color-accent-4: #ffdbdc;
  --color-accent-5: #ffcdce;
  --color-accent-6: #fdbdbe;
  --color-accent-7: #f4a9aa;
  --color-accent-8: #eb8e90;
  --color-accent-9: #e5484d;
  --color-accent-10: #dc3e42;
  --color-accent-11: #ce2c31;
  --color-accent-12: #641723;
}

[data-color-theme="dark"][data-color-accent="red"] {
  --color-accent-1: #191111;
  --color-accent-2: #201314;
  --color-accent-3: #3b1219;
  --color-accent-4: #500f1c;
  --color-accent-5: #611623;
  --color-accent-6: #72232d;
  --color-accent-7: #8c333a;
  --color-accent-8: #b54548;
  --color-accent-9: #e5484d;
  --color-accent-10: #ec5d5e;
  --color-accent-11: #ff9592;
  --color-accent-12: #ffd1d9;
}

@media (color-gamut: p3) {
  [data-color-theme="light"][data-color-accent="red"] {
    --color-accent-1: color(display-p3 0.998 0.989 0.988);
    --color-accent-2: color(display-p3 0.995 0.971 0.971);
    --color-accent-3: color(display-p3 0.985 0.925 0.925);
    --color-accent-4: color(display-p3 0.999 0.866 0.866);
    --color-accent-5: color(display-p3 0.984 0.812 0.811);
    --color-accent-6: color(display-p3 0.955 0.751 0.749);
    --color-accent-7: color(display-p3 0.915 0.675 0.672);
    --color-accent-8: color(display-p3 0.872 0.575 0.572);
    --color-accent-9: color(display-p3 0.83 0.329 0.324);
    --color-accent-10: color(display-p3 0.798 0.294 0.285);
    --color-accent-11: color(display-p3 0.744 0.234 0.222);
    --color-accent-12: color(display-p3 0.36 0.115 0.143);
  }

  [data-color-theme="dark"][data-color-accent="red"] {
    --color-accent-1: color(display-p3 0.093 0.068 0.067);
    --color-accent-2: color(display-p3 0.118 0.077 0.079);
    --color-accent-3: color(display-p3 0.211 0.081 0.099);
    --color-accent-4: color(display-p3 0.287 0.079 0.113);
    --color-accent-5: color(display-p3 0.348 0.11 0.142);
    --color-accent-6: color(display-p3 0.414 0.16 0.183);
    --color-accent-7: color(display-p3 0.508 0.224 0.236);
    --color-accent-8: color(display-p3 0.659 0.298 0.297);
    --color-accent-9: color(display-p3 0.83 0.329 0.324);
    --color-accent-10: color(display-p3 0.861 0.403 0.387);
    --color-accent-11: color(display-p3 1 0.57 0.55);
    --color-accent-12: color(display-p3 0.971 0.826 0.852);
  }
}
