@layer components {
  .base {
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    color: var(--color-text-secondary);
    column-gap: 8px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    outline-color: var(--color-outline);
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 0;
    padding: 8px 12px;
    transition-duration: 150ms;
    transition-property: background-color, box-shadow, color;
    user-select: none;
  }

  .base:focus-visible {
    outline-width: 2px;
  }

  .base:hover:not(:disabled) {
    background-color: var(--color-gray-4);
  }

  .base:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .base[data-pressed] {
    background-color: var(--color-gray-3);
    box-shadow: inset 0 0 0 1px var(--color-primary);
    color: var(--color-text-primary);
  }

  /* Icon size */
  .base > svg {
    --size-icon: 16px;
    height: var(--size-icon);
    width: var(--size-icon);
  }
}
