@layer components {
  /* =================================================== */
  /* Base */
  /* =================================================== */
  .base {
    padding: 0;
  }

  /* =================================================== */
  /* Size */
  /* =================================================== */
  .size_32 {
    width: 32px;
  }

  .size_36 {
    width: 36px;
  }

  .size_40 {
    width: 40px;
  }

  .size_44 {
    width: 44px;
  }

  .size_48 {
    width: 48px;
  }
}
