:root {
  /* =================================================== */
  /* White & Black
  /* =================================================== */
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);

  /* =================================================== */
  /* Gray */
  /* =================================================== */
  --color-primitive-gray-1: #fcfcfc;
  --color-primitive-gray-2: #f9f9f9;
  --color-primitive-gray-3: #f0f0f0;
  --color-primitive-gray-4: #e8e8e8;
  --color-primitive-gray-5: #e0e0e0;
  --color-primitive-gray-6: #d9d9d9;
  --color-primitive-gray-7: #cecece;
  --color-primitive-gray-8: #bbbbbb;
  --color-primitive-gray-9: #8d8d8d;
  --color-primitive-gray-10: #838383;
  --color-primitive-gray-11: #646464;
  --color-primitive-gray-12: #202020;

  --color-primitive-gray-dark-1: #111111;
  --color-primitive-gray-dark-2: #191919;
  --color-primitive-gray-dark-3: #222222;
  --color-primitive-gray-dark-4: #2a2a2a;
  --color-primitive-gray-dark-5: #313131;
  --color-primitive-gray-dark-6: #3a3a3a;
  --color-primitive-gray-dark-7: #484848;
  --color-primitive-gray-dark-8: #606060;
  --color-primitive-gray-dark-9: #6e6e6e;
  --color-primitive-gray-dark-10: #7b7b7b;
  --color-primitive-gray-dark-11: #b4b4b4;
  --color-primitive-gray-dark-12: #eeeeee;

  /* =================================================== */
  /* Mauve */
  /* =================================================== */
  --color-primitive-mauve-1: #fdfcfd;
  --color-primitive-mauve-2: #faf9fb;
  --color-primitive-mauve-3: #f2eff3;
  --color-primitive-mauve-4: #eae7ec;
  --color-primitive-mauve-5: #e3dfe6;
  --color-primitive-mauve-6: #dbd8e0;
  --color-primitive-mauve-7: #d0cdd7;
  --color-primitive-mauve-8: #bcbac7;
  --color-primitive-mauve-9: #8e8c99;
  --color-primitive-mauve-10: #84828e;
  --color-primitive-mauve-11: #65636d;
  --color-primitive-mauve-12: #211f26;

  --color-primitive-mauve-dark-1: #121113;
  --color-primitive-mauve-dark-2: #1a191b;
  --color-primitive-mauve-dark-3: #232225;
  --color-primitive-mauve-dark-4: #2b292d;
  --color-primitive-mauve-dark-5: #323035;
  --color-primitive-mauve-dark-6: #3c393f;
  --color-primitive-mauve-dark-7: #49474e;
  --color-primitive-mauve-dark-8: #625f69;
  --color-primitive-mauve-dark-9: #6f6d78;
  --color-primitive-mauve-dark-10: #7c7a85;
  --color-primitive-mauve-dark-11: #b5b2bc;
  --color-primitive-mauve-dark-12: #eeeef0;

  /* =================================================== */
  /* Slate */
  /* =================================================== */
  --color-primitive-slate-1: #fcfcfd;
  --color-primitive-slate-2: #f9f9fb;
  --color-primitive-slate-3: #f0f0f3;
  --color-primitive-slate-4: #e8e8ec;
  --color-primitive-slate-5: #e0e1e6;
  --color-primitive-slate-6: #d9d9e0;
  --color-primitive-slate-7: #cdced6;
  --color-primitive-slate-8: #b9bbc6;
  --color-primitive-slate-9: #8b8d98;
  --color-primitive-slate-10: #80838d;
  --color-primitive-slate-11: #60646c;
  --color-primitive-slate-12: #1c2024;

  --color-primitive-slate-dark-1: #111113;
  --color-primitive-slate-dark-2: #18191b;
  --color-primitive-slate-dark-3: #212225;
  --color-primitive-slate-dark-4: #272a2d;
  --color-primitive-slate-dark-5: #2e3135;
  --color-primitive-slate-dark-6: #363a3f;
  --color-primitive-slate-dark-7: #43484e;
  --color-primitive-slate-dark-8: #5a6169;
  --color-primitive-slate-dark-9: #696e77;
  --color-primitive-slate-dark-10: #777b84;
  --color-primitive-slate-dark-11: #b0b4ba;
  --color-primitive-slate-dark-12: #edeef0;

  /* =================================================== */
  /* Sage */
  /* =================================================== */
  --color-primitive-sage-1: #fbfdfc;
  --color-primitive-sage-2: #f7f9f8;
  --color-primitive-sage-3: #eef1f0;
  --color-primitive-sage-4: #e6e9e8;
  --color-primitive-sage-5: #dfe2e0;
  --color-primitive-sage-6: #d7dad9;
  --color-primitive-sage-7: #cbcfcd;
  --color-primitive-sage-8: #b8bcba;
  --color-primitive-sage-9: #868e8b;
  --color-primitive-sage-10: #7c8481;
  --color-primitive-sage-11: #5f6563;
  --color-primitive-sage-12: #1a211e;

  --color-primitive-sage-dark-1: #101211;
  --color-primitive-sage-dark-2: #171918;
  --color-primitive-sage-dark-3: #202221;
  --color-primitive-sage-dark-4: #272a29;
  --color-primitive-sage-dark-5: #2e3130;
  --color-primitive-sage-dark-6: #373b39;
  --color-primitive-sage-dark-7: #444947;
  --color-primitive-sage-dark-8: #5b625f;
  --color-primitive-sage-dark-9: #63706b;
  --color-primitive-sage-dark-10: #717d79;
  --color-primitive-sage-dark-11: #adb5b2;
  --color-primitive-sage-dark-12: #eceeed;

  /* =================================================== */
  /* Olive */
  /* =================================================== */
  --color-primitive-olive-1: #fcfdfc;
  --color-primitive-olive-2: #f8faf8;
  --color-primitive-olive-3: #eff1ef;
  --color-primitive-olive-4: #e7e9e7;
  --color-primitive-olive-5: #dfe2df;
  --color-primitive-olive-6: #d7dad7;
  --color-primitive-olive-7: #cccfcc;
  --color-primitive-olive-8: #b9bcb8;
  --color-primitive-olive-9: #898e87;
  --color-primitive-olive-10: #7f847d;
  --color-primitive-olive-11: #60655f;
  --color-primitive-olive-12: #1d211c;

  --color-primitive-olive-dark-1: #111210;
  --color-primitive-olive-dark-2: #181917;
  --color-primitive-olive-dark-3: #212220;
  --color-primitive-olive-dark-4: #282a27;
  --color-primitive-olive-dark-5: #2f312e;
  --color-primitive-olive-dark-6: #383a36;
  --color-primitive-olive-dark-7: #454843;
  --color-primitive-olive-dark-8: #5c625b;
  --color-primitive-olive-dark-9: #687066;
  --color-primitive-olive-dark-10: #767d74;
  --color-primitive-olive-dark-11: #afb5ad;
  --color-primitive-olive-dark-12: #eceeec;

  /* =================================================== */
  /* Sand */
  /* =================================================== */
  --color-primitive-sand-1: #fdfdfc;
  --color-primitive-sand-2: #f9f9f8;
  --color-primitive-sand-3: #f1f0ef;
  --color-primitive-sand-4: #e9e8e6;
  --color-primitive-sand-5: #e2e1de;
  --color-primitive-sand-6: #dad9d6;
  --color-primitive-sand-7: #cfceca;
  --color-primitive-sand-8: #bcbbb5;
  --color-primitive-sand-9: #8d8d86;
  --color-primitive-sand-10: #82827c;
  --color-primitive-sand-11: #63635e;
  --color-primitive-sand-12: #21201c;

  --color-primitive-sand-dark-1: #111110;
  --color-primitive-sand-dark-2: #191918;
  --color-primitive-sand-dark-3: #222221;
  --color-primitive-sand-dark-4: #2a2a28;
  --color-primitive-sand-dark-5: #31312e;
  --color-primitive-sand-dark-6: #3b3a37;
  --color-primitive-sand-dark-7: #494844;
  --color-primitive-sand-dark-8: #62605b;
  --color-primitive-sand-dark-9: #6f6d66;
  --color-primitive-sand-dark-10: #7c7b74;
  --color-primitive-sand-dark-11: #b5b3ad;
  --color-primitive-sand-dark-12: #eeeeec;

  /* =================================================== */
  /* Gold */
  /* =================================================== */
  --color-primitive-gold-1: #fdfdfc;
  --color-primitive-gold-2: #faf9f2;
  --color-primitive-gold-3: #f2f0e7;
  --color-primitive-gold-4: #eae6db;
  --color-primitive-gold-5: #e1dccf;
  --color-primitive-gold-6: #d8d0bf;
  --color-primitive-gold-7: #cbc0aa;
  --color-primitive-gold-8: #b9a88d;
  --color-primitive-gold-9: #978365;
  --color-primitive-gold-10: #8c7a5e;
  --color-primitive-gold-11: #71624b;
  --color-primitive-gold-12: #3b352b;

  --color-primitive-gold-dark-1: #121211;
  --color-primitive-gold-dark-2: #1b1a17;
  --color-primitive-gold-dark-3: #24231f;
  --color-primitive-gold-dark-4: #2d2b26;
  --color-primitive-gold-dark-5: #38352e;
  --color-primitive-gold-dark-6: #444039;
  --color-primitive-gold-dark-7: #544f46;
  --color-primitive-gold-dark-8: #696256;
  --color-primitive-gold-dark-9: #978365;
  --color-primitive-gold-dark-10: #a39073;
  --color-primitive-gold-dark-11: #cbb99f;
  --color-primitive-gold-dark-12: #e8e2d9;

  /* =================================================== */
  /* Bronze */
  /* =================================================== */
  --color-primitive-bronze-1: #fdfcfc;
  --color-primitive-bronze-2: #fdf7f5;
  --color-primitive-bronze-3: #f6edea;
  --color-primitive-bronze-4: #efe4df;
  --color-primitive-bronze-5: #e7d9d3;
  --color-primitive-bronze-6: #dfcdc5;
  --color-primitive-bronze-7: #d3bcb3;
  --color-primitive-bronze-8: #c2a499;
  --color-primitive-bronze-9: #a18072;
  --color-primitive-bronze-10: #957468;
  --color-primitive-bronze-11: #7d5e54;
  --color-primitive-bronze-12: #43302b;

  --color-primitive-bronze-dark-1: #141110;
  --color-primitive-bronze-dark-2: #1c1917;
  --color-primitive-bronze-dark-3: #262220;
  --color-primitive-bronze-dark-4: #302a27;
  --color-primitive-bronze-dark-5: #3b3330;
  --color-primitive-bronze-dark-6: #493e3a;
  --color-primitive-bronze-dark-7: #5a4c47;
  --color-primitive-bronze-dark-8: #6f5f58;
  --color-primitive-bronze-dark-9: #a18072;
  --color-primitive-bronze-dark-10: #ae8c7e;
  --color-primitive-bronze-dark-11: #d4b3a5;
  --color-primitive-bronze-dark-12: #ede0d9;

  /* =================================================== */
  /* Brown */
  /* =================================================== */
  --color-primitive-brown-1: #fefdfc;
  --color-primitive-brown-2: #fcf9f6;
  --color-primitive-brown-3: #f6eee7;
  --color-primitive-brown-4: #f0e4d9;
  --color-primitive-brown-5: #ebdaca;
  --color-primitive-brown-6: #e4cdb7;
  --color-primitive-brown-7: #dcbc9f;
  --color-primitive-brown-8: #cea37e;
  --color-primitive-brown-9: #ad7f58;
  --color-primitive-brown-10: #a07553;
  --color-primitive-brown-11: #815e46;
  --color-primitive-brown-12: #3e332e;

  --color-primitive-brown-dark-1: #12110f;
  --color-primitive-brown-dark-2: #1c1816;
  --color-primitive-brown-dark-3: #28211d;
  --color-primitive-brown-dark-4: #322922;
  --color-primitive-brown-dark-5: #3e3128;
  --color-primitive-brown-dark-6: #4d3c2f;
  --color-primitive-brown-dark-7: #614a39;
  --color-primitive-brown-dark-8: #7c5f46;
  --color-primitive-brown-dark-9: #ad7f58;
  --color-primitive-brown-dark-10: #b88c67;
  --color-primitive-brown-dark-11: #dbb594;
  --color-primitive-brown-dark-12: #f2e1ca;

  /* =================================================== */
  /* Yellow */
  /* =================================================== */
  --color-primitive-yellow-1: #fdfdf9;
  --color-primitive-yellow-2: #fefce9;
  --color-primitive-yellow-3: #fffab8;
  --color-primitive-yellow-4: #fff394;
  --color-primitive-yellow-5: #ffe770;
  --color-primitive-yellow-6: #f3d768;
  --color-primitive-yellow-7: #e4c767;
  --color-primitive-yellow-8: #d5ae39;
  --color-primitive-yellow-9: #ffe629;
  --color-primitive-yellow-10: #ffdc00;
  --color-primitive-yellow-11: #9e6c00;
  --color-primitive-yellow-12: #473b1f;

  --color-primitive-yellow-dark-1: #14120b;
  --color-primitive-yellow-dark-2: #1b180f;
  --color-primitive-yellow-dark-3: #2d2305;
  --color-primitive-yellow-dark-4: #362b00;
  --color-primitive-yellow-dark-5: #433500;
  --color-primitive-yellow-dark-6: #524202;
  --color-primitive-yellow-dark-7: #665417;
  --color-primitive-yellow-dark-8: #836a21;
  --color-primitive-yellow-dark-9: #ffe629;
  --color-primitive-yellow-dark-10: #ffff57;
  --color-primitive-yellow-dark-11: #f5e147;
  --color-primitive-yellow-dark-12: #f6eeb4;

  /* =================================================== */
  /* Amber */
  /* =================================================== */
  --color-primitive-amber-1: #fefdfb;
  --color-primitive-amber-2: #fefbe9;
  --color-primitive-amber-3: #fff7c2;
  --color-primitive-amber-4: #ffee9c;
  --color-primitive-amber-5: #fbe577;
  --color-primitive-amber-6: #f3d673;
  --color-primitive-amber-7: #e9c162;
  --color-primitive-amber-8: #e2a336;
  --color-primitive-amber-9: #ffc53d;
  --color-primitive-amber-10: #ffba18;
  --color-primitive-amber-11: #ab6400;
  --color-primitive-amber-12: #4f3422;

  --color-primitive-amber-dark-1: #16120c;
  --color-primitive-amber-dark-2: #1d180f;
  --color-primitive-amber-dark-3: #302008;
  --color-primitive-amber-dark-4: #3f2700;
  --color-primitive-amber-dark-5: #4d3000;
  --color-primitive-amber-dark-6: #5c3d05;
  --color-primitive-amber-dark-7: #714f19;
  --color-primitive-amber-dark-8: #8f6424;
  --color-primitive-amber-dark-9: #ffc53d;
  --color-primitive-amber-dark-10: #ffd60a;
  --color-primitive-amber-dark-11: #ffca16;
  --color-primitive-amber-dark-12: #ffe7b3;

  /* =================================================== */
  /* Orange */
  /* =================================================== */
  --color-primitive-orange-1: #fefcfb;
  --color-primitive-orange-2: #fff7ed;
  --color-primitive-orange-3: #ffefd6;
  --color-primitive-orange-4: #ffdfb5;
  --color-primitive-orange-5: #ffd19a;
  --color-primitive-orange-6: #ffc182;
  --color-primitive-orange-7: #f5ae73;
  --color-primitive-orange-8: #ec9455;
  --color-primitive-orange-9: #f76b15;
  --color-primitive-orange-10: #ef5f00;
  --color-primitive-orange-11: #cc4e00;
  --color-primitive-orange-12: #582d1d;

  --color-primitive-orange-dark-1: #17120e;
  --color-primitive-orange-dark-2: #1e160f;
  --color-primitive-orange-dark-3: #331e0b;
  --color-primitive-orange-dark-4: #462100;
  --color-primitive-orange-dark-5: #562800;
  --color-primitive-orange-dark-6: #66350c;
  --color-primitive-orange-dark-7: #7e451d;
  --color-primitive-orange-dark-8: #a35829;
  --color-primitive-orange-dark-9: #f76b15;
  --color-primitive-orange-dark-10: #ff801f;
  --color-primitive-orange-dark-11: #ffa057;
  --color-primitive-orange-dark-12: #ffe0c2;

  /* =================================================== */
  /* Tomato */
  /* =================================================== */
  --color-primitive-tomato-1: #fffcfc;
  --color-primitive-tomato-2: #fff8f7;
  --color-primitive-tomato-3: #feebe7;
  --color-primitive-tomato-4: #ffdcd3;
  --color-primitive-tomato-5: #ffcdc2;
  --color-primitive-tomato-6: #fdbdaf;
  --color-primitive-tomato-7: #f5a898;
  --color-primitive-tomato-8: #ec8e7b;
  --color-primitive-tomato-9: #e54d2e;
  --color-primitive-tomato-10: #dd4425;
  --color-primitive-tomato-11: #d13415;
  --color-primitive-tomato-12: #5c271f;

  --color-primitive-tomato-dark-1: #181111;
  --color-primitive-tomato-dark-2: #1f1513;
  --color-primitive-tomato-dark-3: #391714;
  --color-primitive-tomato-dark-4: #4e1511;
  --color-primitive-tomato-dark-5: #5e1c16;
  --color-primitive-tomato-dark-6: #6e2920;
  --color-primitive-tomato-dark-7: #853a2d;
  --color-primitive-tomato-dark-8: #ac4d39;
  --color-primitive-tomato-dark-9: #e54d2e;
  --color-primitive-tomato-dark-10: #ec6142;
  --color-primitive-tomato-dark-11: #ff977d;
  --color-primitive-tomato-dark-12: #fbd3cb;

  /* =================================================== */
  /* Red */
  /* =================================================== */
  --color-primitive-red-1: #fffcfc;
  --color-primitive-red-2: #fff7f7;
  --color-primitive-red-3: #feebec;
  --color-primitive-red-4: #ffdbdc;
  --color-primitive-red-5: #ffcdce;
  --color-primitive-red-6: #fdbdbe;
  --color-primitive-red-7: #f4a9aa;
  --color-primitive-red-8: #eb8e90;
  --color-primitive-red-9: #e5484d;
  --color-primitive-red-10: #dc3e42;
  --color-primitive-red-11: #ce2c31;
  --color-primitive-red-12: #641723;

  --color-primitive-red-dark-1: #191111;
  --color-primitive-red-dark-2: #201314;
  --color-primitive-red-dark-3: #3b1219;
  --color-primitive-red-dark-4: #500f1c;
  --color-primitive-red-dark-5: #611623;
  --color-primitive-red-dark-6: #72232d;
  --color-primitive-red-dark-7: #8c333a;
  --color-primitive-red-dark-8: #b54548;
  --color-primitive-red-dark-9: #e5484d;
  --color-primitive-red-dark-10: #ec5d5e;
  --color-primitive-red-dark-11: #ff9592;
  --color-primitive-red-dark-12: #ffd1d9;

  /* =================================================== */
  /* Ruby */
  /* =================================================== */
  --color-primitive-ruby-1: #fffcfd;
  --color-primitive-ruby-2: #fff7f8;
  --color-primitive-ruby-3: #feeaed;
  --color-primitive-ruby-4: #ffdce1;
  --color-primitive-ruby-5: #ffced6;
  --color-primitive-ruby-6: #f8bfc8;
  --color-primitive-ruby-7: #efacb8;
  --color-primitive-ruby-8: #e592a3;
  --color-primitive-ruby-9: #e54666;
  --color-primitive-ruby-10: #dc3b5d;
  --color-primitive-ruby-11: #ca244d;
  --color-primitive-ruby-12: #64172b;

  --color-primitive-ruby-dark-1: #191113;
  --color-primitive-ruby-dark-2: #1e1517;
  --color-primitive-ruby-dark-3: #3a141e;
  --color-primitive-ruby-dark-4: #4e1325;
  --color-primitive-ruby-dark-5: #5e1a2e;
  --color-primitive-ruby-dark-6: #6f2539;
  --color-primitive-ruby-dark-7: #883447;
  --color-primitive-ruby-dark-8: #b3445a;
  --color-primitive-ruby-dark-9: #e54666;
  --color-primitive-ruby-dark-10: #ec5a72;
  --color-primitive-ruby-dark-11: #ff949d;
  --color-primitive-ruby-dark-12: #fed2e1;

  /* =================================================== */
  /* Crimson */
  /* =================================================== */
  --color-primitive-crimson-1: #fffcfd;
  --color-primitive-crimson-2: #fef7f9;
  --color-primitive-crimson-3: #ffe9f0;
  --color-primitive-crimson-4: #fedce7;
  --color-primitive-crimson-5: #facedd;
  --color-primitive-crimson-6: #f3bed1;
  --color-primitive-crimson-7: #eaacc3;
  --color-primitive-crimson-8: #e093b2;
  --color-primitive-crimson-9: #e93d82;
  --color-primitive-crimson-10: #df3478;
  --color-primitive-crimson-11: #cb1d63;
  --color-primitive-crimson-12: #621639;

  --color-primitive-crimson-dark-1: #191114;
  --color-primitive-crimson-dark-2: #201318;
  --color-primitive-crimson-dark-3: #381525;
  --color-primitive-crimson-dark-4: #4d122f;
  --color-primitive-crimson-dark-5: #5c1839;
  --color-primitive-crimson-dark-6: #6d2545;
  --color-primitive-crimson-dark-7: #873356;
  --color-primitive-crimson-dark-8: #b0436e;
  --color-primitive-crimson-dark-9: #e93d82;
  --color-primitive-crimson-dark-10: #ee518a;
  --color-primitive-crimson-dark-11: #ff92ad;
  --color-primitive-crimson-dark-12: #fdd3e8;

  /* =================================================== */
  /* Pink */
  /* =================================================== */
  --color-primitive-pink-1: #fffcfe;
  --color-primitive-pink-2: #fef7fb;
  --color-primitive-pink-3: #fee9f5;
  --color-primitive-pink-4: #fbdcef;
  --color-primitive-pink-5: #f6cee7;
  --color-primitive-pink-6: #efbfdd;
  --color-primitive-pink-7: #e7acd0;
  --color-primitive-pink-8: #dd93c2;
  --color-primitive-pink-9: #d6409f;
  --color-primitive-pink-10: #cf3897;
  --color-primitive-pink-11: #c2298a;
  --color-primitive-pink-12: #651249;

  --color-primitive-pink-dark-1: #191117;
  --color-primitive-pink-dark-2: #21121d;
  --color-primitive-pink-dark-3: #37172f;
  --color-primitive-pink-dark-4: #4b143d;
  --color-primitive-pink-dark-5: #591c47;
  --color-primitive-pink-dark-6: #692955;
  --color-primitive-pink-dark-7: #833869;
  --color-primitive-pink-dark-8: #a84885;
  --color-primitive-pink-dark-9: #d6409f;
  --color-primitive-pink-dark-10: #de51a8;
  --color-primitive-pink-dark-11: #ff8dcc;
  --color-primitive-pink-dark-12: #fdd1ea;

  /* =================================================== */
  /* Plum */
  /* =================================================== */
  --color-primitive-plum-1: #fefcff;
  --color-primitive-plum-2: #fdf7fd;
  --color-primitive-plum-3: #fbebfb;
  --color-primitive-plum-4: #f7def8;
  --color-primitive-plum-5: #f2d1f3;
  --color-primitive-plum-6: #e9c2ec;
  --color-primitive-plum-7: #deade3;
  --color-primitive-plum-8: #cf91d8;
  --color-primitive-plum-9: #ab4aba;
  --color-primitive-plum-10: #a144af;
  --color-primitive-plum-11: #953ea3;
  --color-primitive-plum-12: #53195d;

  --color-primitive-plum-dark-1: #181118;
  --color-primitive-plum-dark-2: #201320;
  --color-primitive-plum-dark-3: #351a35;
  --color-primitive-plum-dark-4: #451d47;
  --color-primitive-plum-dark-5: #512454;
  --color-primitive-plum-dark-6: #5e3061;
  --color-primitive-plum-dark-7: #734079;
  --color-primitive-plum-dark-8: #92549c;
  --color-primitive-plum-dark-9: #ab4aba;
  --color-primitive-plum-dark-10: #b658c4;
  --color-primitive-plum-dark-11: #e796f3;
  --color-primitive-plum-dark-12: #f4d4f4;

  /* =================================================== */
  /* Purple */
  /* =================================================== */
  --color-primitive-purple-1: #fefcfe;
  --color-primitive-purple-2: #fbf7fe;
  --color-primitive-purple-3: #f7edfe;
  --color-primitive-purple-4: #f2e2fc;
  --color-primitive-purple-5: #ead5f9;
  --color-primitive-purple-6: #e0c4f4;
  --color-primitive-purple-7: #d1afec;
  --color-primitive-purple-8: #be93e4;
  --color-primitive-purple-9: #8e4ec6;
  --color-primitive-purple-10: #8347b9;
  --color-primitive-purple-11: #8145b5;
  --color-primitive-purple-12: #402060;

  --color-primitive-purple-dark-1: #18111b;
  --color-primitive-purple-dark-2: #1e1523;
  --color-primitive-purple-dark-3: #301c3b;
  --color-primitive-purple-dark-4: #3d224e;
  --color-primitive-purple-dark-5: #48295c;
  --color-primitive-purple-dark-6: #54346b;
  --color-primitive-purple-dark-7: #664282;
  --color-primitive-purple-dark-8: #8457aa;
  --color-primitive-purple-dark-9: #8e4ec6;
  --color-primitive-purple-dark-10: #9a5cd0;
  --color-primitive-purple-dark-11: #d19dff;
  --color-primitive-purple-dark-12: #ecd9fa;

  /* =================================================== */
  /* Violet */
  /* =================================================== */
  --color-primitive-violet-1: #fdfcfe;
  --color-primitive-violet-2: #faf8ff;
  --color-primitive-violet-3: #f4f0fe;
  --color-primitive-violet-4: #ebe4ff;
  --color-primitive-violet-5: #e1d9ff;
  --color-primitive-violet-6: #d4cafe;
  --color-primitive-violet-7: #c2b5f5;
  --color-primitive-violet-8: #aa99ec;
  --color-primitive-violet-9: #6e56cf;
  --color-primitive-violet-10: #654dc4;
  --color-primitive-violet-11: #6550b9;
  --color-primitive-violet-12: #2f265f;

  --color-primitive-violet-dark-1: #14121f;
  --color-primitive-violet-dark-2: #1b1525;
  --color-primitive-violet-dark-3: #291f43;
  --color-primitive-violet-dark-4: #33255b;
  --color-primitive-violet-dark-5: #3c2e69;
  --color-primitive-violet-dark-6: #473876;
  --color-primitive-violet-dark-7: #56468b;
  --color-primitive-violet-dark-8: #6958ad;
  --color-primitive-violet-dark-9: #6e56cf;
  --color-primitive-violet-dark-10: #7d66d9;
  --color-primitive-violet-dark-11: #baa7ff;
  --color-primitive-violet-dark-12: #e2ddfe;

  /* =================================================== */
  /* Iris */
  /* =================================================== */
  --color-primitive-iris-1: #fdfdff;
  --color-primitive-iris-2: #f8f8ff;
  --color-primitive-iris-3: #f0f1fe;
  --color-primitive-iris-4: #e6e7ff;
  --color-primitive-iris-5: #dadcff;
  --color-primitive-iris-6: #cbcdff;
  --color-primitive-iris-7: #b8baf8;
  --color-primitive-iris-8: #9b9ef0;
  --color-primitive-iris-9: #5b5bd6;
  --color-primitive-iris-10: #5151cd;
  --color-primitive-iris-11: #5753c6;
  --color-primitive-iris-12: #272962;

  --color-primitive-iris-dark-1: #13131e;
  --color-primitive-iris-dark-2: #171625;
  --color-primitive-iris-dark-3: #202248;
  --color-primitive-iris-dark-4: #262a65;
  --color-primitive-iris-dark-5: #303374;
  --color-primitive-iris-dark-6: #3d3e82;
  --color-primitive-iris-dark-7: #4a4a95;
  --color-primitive-iris-dark-8: #5958b1;
  --color-primitive-iris-dark-9: #5b5bd6;
  --color-primitive-iris-dark-10: #6e6ade;
  --color-primitive-iris-dark-11: #b1a9ff;
  --color-primitive-iris-dark-12: #e0dffe;

  /* =================================================== */
  /* Indigo */
  /* =================================================== */
  --color-primitive-indigo-1: #fdfdfe;
  --color-primitive-indigo-2: #f7f9ff;
  --color-primitive-indigo-3: #edf2fe;
  --color-primitive-indigo-4: #e1e9ff;
  --color-primitive-indigo-5: #d2deff;
  --color-primitive-indigo-6: #c1d0ff;
  --color-primitive-indigo-7: #abbdf9;
  --color-primitive-indigo-8: #8da4ef;
  --color-primitive-indigo-9: #3e63dd;
  --color-primitive-indigo-10: #3358d4;
  --color-primitive-indigo-11: #3a5bc7;
  --color-primitive-indigo-12: #1f2d5c;

  --color-primitive-indigo-dark-1: #11131f;
  --color-primitive-indigo-dark-2: #141726;
  --color-primitive-indigo-dark-3: #182449;
  --color-primitive-indigo-dark-4: #1d2e62;
  --color-primitive-indigo-dark-5: #253974;
  --color-primitive-indigo-dark-6: #304384;
  --color-primitive-indigo-dark-7: #3a4f97;
  --color-primitive-indigo-dark-8: #435db1;
  --color-primitive-indigo-dark-9: #3e63dd;
  --color-primitive-indigo-dark-10: #5472e4;
  --color-primitive-indigo-dark-11: #9eb1ff;
  --color-primitive-indigo-dark-12: #d6e1ff;

  /* =================================================== */
  /* Blue */
  /* =================================================== */
  --color-primitive-blue-1: #fbfdff;
  --color-primitive-blue-2: #f4faff;
  --color-primitive-blue-3: #e6f4fe;
  --color-primitive-blue-4: #d5efff;
  --color-primitive-blue-5: #c2e5ff;
  --color-primitive-blue-6: #acd8fc;
  --color-primitive-blue-7: #8ec8f6;
  --color-primitive-blue-8: #5eb1ef;
  --color-primitive-blue-9: #0090ff;
  --color-primitive-blue-10: #0588f0;
  --color-primitive-blue-11: #0d74ce;
  --color-primitive-blue-12: #113264;

  --color-primitive-blue-dark-1: #0d1520;
  --color-primitive-blue-dark-2: #111927;
  --color-primitive-blue-dark-3: #0d2847;
  --color-primitive-blue-dark-4: #003362;
  --color-primitive-blue-dark-5: #004074;
  --color-primitive-blue-dark-6: #104d87;
  --color-primitive-blue-dark-7: #205d9e;
  --color-primitive-blue-dark-8: #2870bd;
  --color-primitive-blue-dark-9: #0090ff;
  --color-primitive-blue-dark-10: #3b9eff;
  --color-primitive-blue-dark-11: #70b8ff;
  --color-primitive-blue-dark-12: #c2e6ff;

  /* =================================================== */
  /* Cyan */
  /* =================================================== */
  --color-primitive-cyan-1: #fafdfe;
  --color-primitive-cyan-2: #f2fafb;
  --color-primitive-cyan-3: #def7f9;
  --color-primitive-cyan-4: #caf1f6;
  --color-primitive-cyan-5: #b5e9f0;
  --color-primitive-cyan-6: #9ddde7;
  --color-primitive-cyan-7: #7dcedc;
  --color-primitive-cyan-8: #3db9cf;
  --color-primitive-cyan-9: #00a2c7;
  --color-primitive-cyan-10: #0797b9;
  --color-primitive-cyan-11: #107d98;
  --color-primitive-cyan-12: #0d3c48;

  --color-primitive-cyan-dark-1: #0b161a;
  --color-primitive-cyan-dark-2: #101b20;
  --color-primitive-cyan-dark-3: #082c36;
  --color-primitive-cyan-dark-4: #003848;
  --color-primitive-cyan-dark-5: #004558;
  --color-primitive-cyan-dark-6: #045468;
  --color-primitive-cyan-dark-7: #12677e;
  --color-primitive-cyan-dark-8: #11809c;
  --color-primitive-cyan-dark-9: #00a2c7;
  --color-primitive-cyan-dark-10: #23afd0;
  --color-primitive-cyan-dark-11: #4ccce6;
  --color-primitive-cyan-dark-12: #b6ecf7;

  /* =================================================== */
  /* Teal */
  /* =================================================== */
  --color-primitive-teal-1: #fafefd;
  --color-primitive-teal-2: #f3fbf9;
  --color-primitive-teal-3: #e0f8f3;
  --color-primitive-teal-4: #ccf3ea;
  --color-primitive-teal-5: #b8eae0;
  --color-primitive-teal-6: #a1ded2;
  --color-primitive-teal-7: #83cdc1;
  --color-primitive-teal-8: #53b9ab;
  --color-primitive-teal-9: #12a594;
  --color-primitive-teal-10: #0d9b8a;
  --color-primitive-teal-11: #008573;
  --color-primitive-teal-12: #0d3d38;

  --color-primitive-teal-dark-1: #0d1514;
  --color-primitive-teal-dark-2: #111c1b;
  --color-primitive-teal-dark-3: #0d2d2a;
  --color-primitive-teal-dark-4: #023b37;
  --color-primitive-teal-dark-5: #084843;
  --color-primitive-teal-dark-6: #145750;
  --color-primitive-teal-dark-7: #1c6961;
  --color-primitive-teal-dark-8: #207e73;
  --color-primitive-teal-dark-9: #12a594;
  --color-primitive-teal-dark-10: #0eb39e;
  --color-primitive-teal-dark-11: #0bd8b6;
  --color-primitive-teal-dark-12: #adf0dd;

  /* =================================================== */
  /* Jade */
  /* =================================================== */
  --color-primitive-jade-1: #fbfefd;
  --color-primitive-jade-2: #f4fbf7;
  --color-primitive-jade-3: #e6f7ed;
  --color-primitive-jade-4: #d6f1e3;
  --color-primitive-jade-5: #c3e9d7;
  --color-primitive-jade-6: #acdec8;
  --color-primitive-jade-7: #8bceb6;
  --color-primitive-jade-8: #56ba9f;
  --color-primitive-jade-9: #29a383;
  --color-primitive-jade-10: #26997b;
  --color-primitive-jade-11: #208368;
  --color-primitive-jade-12: #1d3b31;

  --color-primitive-jade-dark-1: #0d1512;
  --color-primitive-jade-dark-2: #121c18;
  --color-primitive-jade-dark-3: #0f2e22;
  --color-primitive-jade-dark-4: #0b3b2c;
  --color-primitive-jade-dark-5: #114837;
  --color-primitive-jade-dark-6: #1b5745;
  --color-primitive-jade-dark-7: #246854;
  --color-primitive-jade-dark-8: #2a7e68;
  --color-primitive-jade-dark-9: #29a383;
  --color-primitive-jade-dark-10: #27b08b;
  --color-primitive-jade-dark-11: #1fd8a4;
  --color-primitive-jade-dark-12: #adf0d4;

  /* =================================================== */
  /* Green */
  /* =================================================== */
  --color-primitive-green-1: #fbfefc;
  --color-primitive-green-2: #f4fbf6;
  --color-primitive-green-3: #e6f6eb;
  --color-primitive-green-4: #d6f1df;
  --color-primitive-green-5: #c4e8d1;
  --color-primitive-green-6: #adddc0;
  --color-primitive-green-7: #8eceaa;
  --color-primitive-green-8: #5bb98b;
  --color-primitive-green-9: #30a46c;
  --color-primitive-green-10: #2b9a66;
  --color-primitive-green-11: #218358;
  --color-primitive-green-12: #193b2d;

  --color-primitive-green-dark-1: #0e1512;
  --color-primitive-green-dark-2: #121b17;
  --color-primitive-green-dark-3: #132d21;
  --color-primitive-green-dark-4: #113b29;
  --color-primitive-green-dark-5: #174933;
  --color-primitive-green-dark-6: #20573e;
  --color-primitive-green-dark-7: #28684a;
  --color-primitive-green-dark-8: #2f7c57;
  --color-primitive-green-dark-9: #30a46c;
  --color-primitive-green-dark-10: #33b074;
  --color-primitive-green-dark-11: #3dd68c;
  --color-primitive-green-dark-12: #b1f1cb;

  /* =================================================== */
  /* Grass */
  /* =================================================== */
  --color-primitive-grass-1: #fbfefb;
  --color-primitive-grass-2: #f5fbf5;
  --color-primitive-grass-3: #e9f6e9;
  --color-primitive-grass-4: #daf1db;
  --color-primitive-grass-5: #c9e8ca;
  --color-primitive-grass-6: #b2ddb5;
  --color-primitive-grass-7: #94ce9a;
  --color-primitive-grass-8: #65ba74;
  --color-primitive-grass-9: #46a758;
  --color-primitive-grass-10: #3e9b4f;
  --color-primitive-grass-11: #2a7e3b;
  --color-primitive-grass-12: #203c25;

  --color-primitive-grass-dark-1: #0e1511;
  --color-primitive-grass-dark-2: #141a15;
  --color-primitive-grass-dark-3: #1b2a1e;
  --color-primitive-grass-dark-4: #1d3a24;
  --color-primitive-grass-dark-5: #25482d;
  --color-primitive-grass-dark-6: #2d5736;
  --color-primitive-grass-dark-7: #366740;
  --color-primitive-grass-dark-8: #3e7949;
  --color-primitive-grass-dark-9: #46a758;
  --color-primitive-grass-dark-10: #53b365;
  --color-primitive-grass-dark-11: #71d083;
  --color-primitive-grass-dark-12: #c2f0c2;

  /* =================================================== */
  /* Lime */
  /* =================================================== */
  --color-primitive-lime-1: #fcfdfa;
  --color-primitive-lime-2: #f8faf3;
  --color-primitive-lime-3: #eef6d6;
  --color-primitive-lime-4: #e2f0bd;
  --color-primitive-lime-5: #d3e7a6;
  --color-primitive-lime-6: #c2da91;
  --color-primitive-lime-7: #abc978;
  --color-primitive-lime-8: #8db654;
  --color-primitive-lime-9: #bdee63;
  --color-primitive-lime-10: #b0e64c;
  --color-primitive-lime-11: #5c7c2f;
  --color-primitive-lime-12: #37401c;

  --color-primitive-lime-dark-1: #11130c;
  --color-primitive-lime-dark-2: #151a10;
  --color-primitive-lime-dark-3: #1f2917;
  --color-primitive-lime-dark-4: #29371d;
  --color-primitive-lime-dark-5: #334423;
  --color-primitive-lime-dark-6: #3d522a;
  --color-primitive-lime-dark-7: #496231;
  --color-primitive-lime-dark-8: #577538;
  --color-primitive-lime-dark-9: #bdee63;
  --color-primitive-lime-dark-10: #d4ff70;
  --color-primitive-lime-dark-11: #bde56c;
  --color-primitive-lime-dark-12: #e3f7ba;

  /* =================================================== */
  /* Mint */
  /* =================================================== */
  --color-primitive-mint-1: #f9fefd;
  --color-primitive-mint-2: #f2fbf9;
  --color-primitive-mint-3: #ddf9f2;
  --color-primitive-mint-4: #c8f4e9;
  --color-primitive-mint-5: #b3ecde;
  --color-primitive-mint-6: #9ce0d0;
  --color-primitive-mint-7: #7ecfbd;
  --color-primitive-mint-8: #4cbba5;
  --color-primitive-mint-9: #86ead4;
  --color-primitive-mint-10: #7de0cb;
  --color-primitive-mint-11: #027864;
  --color-primitive-mint-12: #16433c;

  --color-primitive-mint-dark-1: #0e1515;
  --color-primitive-mint-dark-2: #0f1b1b;
  --color-primitive-mint-dark-3: #092c2b;
  --color-primitive-mint-dark-4: #003a38;
  --color-primitive-mint-dark-5: #004744;
  --color-primitive-mint-dark-6: #105650;
  --color-primitive-mint-dark-7: #1e685f;
  --color-primitive-mint-dark-8: #277f70;
  --color-primitive-mint-dark-9: #86ead4;
  --color-primitive-mint-dark-10: #a8f5e5;
  --color-primitive-mint-dark-11: #58d5ba;
  --color-primitive-mint-dark-12: #c4f5e1;

  /* =================================================== */
  /* Sky */
  /* =================================================== */
  --color-primitive-sky-1: #f9feff;
  --color-primitive-sky-2: #f1fafd;
  --color-primitive-sky-3: #e1f6fd;
  --color-primitive-sky-4: #d1f0fa;
  --color-primitive-sky-5: #bee7f5;
  --color-primitive-sky-6: #a9daed;
  --color-primitive-sky-7: #8dcae3;
  --color-primitive-sky-8: #60b3d7;
  --color-primitive-sky-9: #7ce2fe;
  --color-primitive-sky-10: #74daf8;
  --color-primitive-sky-11: #00749e;
  --color-primitive-sky-12: #1d3e56;

  --color-primitive-sky-dark-1: #0d141f;
  --color-primitive-sky-dark-2: #111a27;
  --color-primitive-sky-dark-3: #112840;
  --color-primitive-sky-dark-4: #113555;
  --color-primitive-sky-dark-5: #154467;
  --color-primitive-sky-dark-6: #1b537b;
  --color-primitive-sky-dark-7: #1f6692;
  --color-primitive-sky-dark-8: #197cae;
  --color-primitive-sky-dark-9: #7ce2fe;
  --color-primitive-sky-dark-10: #a8eeff;
  --color-primitive-sky-dark-11: #75c7f0;
  --color-primitive-sky-dark-12: #c2f3ff;
}
