/* Disable transitions */
.no-transitions * {
  -moz-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

/* Disable scrolling */
.no-overscroll {
  overflow: hidden;
  overscroll-behavior: none;
}

/* Highlight */
::-moz-selection {
  background: var(--color-primary-10);
  color: var(--color-gray-2);
}
::selection {
  background: var(--color-primary-10);
  color: var(--color-gray-2);
}

/* Input date */
input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
  background: var(--color-primary-10);
  color: var(--color-gray-2);
}

.dark ::-moz-selection {
  color: var(--color-gray-1);
}
.dark ::selection {
  color: var(--color-gray-1);
}
.dark input::-webkit-datetime-edit-day-field:focus,
.dark input::-webkit-datetime-edit-month-field:focus,
.dark input::-webkit-datetime-edit-year-field:focus {
  background: var(--color-primary-10);
  color: var(--color-gray-2);
}
