@theme {
  --font-\*: initial;
  --font-display: var(--font-display);
  --font-handwriting: var(--font-handwriting);
  --font-mono: var(--font-mono);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}
