/* Order matters */
@import "tailwindcss";
@import "@nattui/tailwind-colors";
@import "@nattui/tailwind-exact";

@layer base {
  .d {
    border: 1px dashed red;
  }

  html {
    font-size: 10px;
  }

  body {
    font-family: var(--font-sans);
    color: var(--color-gray-11);
    background-color: var(--color-gray-2);
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  a,
  li,
  blockquote,
  figcaption,
  strong,
  em {
    /* Does not work in body element */
    letter-spacing: -0.02em;
  }

  h1 {
    font-size: 5.6rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
    font-weight: 500;
    font-feature-settings: "ss04";
    color: var(--color-gray-12);
  }

  p {
    font-size: 1.6rem;
    word-break: break-word;
  }

  button {
    font-weight: 500;
    outline-width: 0;
    outline-style: solid;
    outline-color: var(--color-primary-9);
    outline-offset: 2px;

    &:focus-visible {
      outline-width: 2px;
    }
  }

  b,
  strong {
    font-weight: 500;
  }

  a {
    font-family: var(--font-sans);
    outline-width: 0;
    outline-style: solid;
    outline-color: var(--color-primary-9);
    outline-offset: 2px;

    &:focus-visible {
      outline-width: 2px;
    }
  }

  code {
    font-family: var(--font-mono);
  }

  /*
    Enhance heading quality and legibility
  */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /*
    Avoid a short single word on the last line
  */
  p {
    text-wrap: pretty;
  }

  /*
    Avoid text overflows
  */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    overflow-wrap: break-word;
  }
}
