@layer components {
  .positioner {
    isolation: isolate;
    z-index: 50;
  }

  .base {
    background-color: var(--color-bg-shell-inner);
    border-radius: 12px;
    box-shadow:
      0 0 0 1px var(--color-border) inset,
      0 0.5px 0 color-mix(in oklab, black 3%, transparent),
      0 36px 15px -4px color-mix(in oklab, black 1%, transparent),
      0 20px 12px -3px color-mix(in oklab, black 3%, transparent),
      0 9px 9px -2px color-mix(in oklab, black 4%, transparent),
      0 2px 5px -1px color-mix(in oklab, black 5%, transparent);
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    max-height: min(var(--available-height), 480px);
    max-width: var(--available-width);
    min-width: max(var(--anchor-width), 240px);
    outline-color: var(--color-primary-9);
    outline-offset: -2px;
    outline-style: solid;
    outline-width: 0;
    overflow: auto;
    padding: 4px;
    row-gap: 2px;
    transform-origin: var(--transform-origin);
    transition-duration: 150ms;
    transition-property: opacity, transform;
    width: var(--anchor-width);
    will-change: opacity, transform;
  }

  .base:focus-visible {
    outline-width: 2px;
  }

  .base[data-ending-style],
  .base[data-starting-style] {
    opacity: 0;
    transform: scale(0.975);
  }

  .base[data-side="top"][data-ending-style],
  .base[data-side="top"][data-starting-style] {
    transform: scale(0.975) translateY(4px);
  }

  .base[data-side="bottom"][data-ending-style],
  .base[data-side="bottom"][data-starting-style] {
    transform: scale(0.975) translateY(-4px);
  }

  .base[data-side="left"][data-ending-style],
  .base[data-side="left"][data-starting-style],
  .base[data-side="inline-start"][data-ending-style],
  .base[data-side="inline-start"][data-starting-style] {
    transform: scale(0.975) translateX(4px);
  }

  .base[data-side="right"][data-ending-style],
  .base[data-side="right"][data-starting-style],
  .base[data-side="inline-end"][data-ending-style],
  .base[data-side="inline-end"][data-starting-style] {
    transform: scale(0.975) translateX(-4px);
  }
}
