@layer components {
  .base {
    color: var(--color-text-primary);
    font-size: 14px;
    font-weight: 450;
    margin-right: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .base[data-placeholder] {
    color: var(--color-gray-9);
  }
}
