@layer components {
  .select_trigger {
    align-items: center;
    background-color: var(--color-bg-shell-inner);
    border-radius: 10px;
    box-shadow: 0 0 0 1px var(--color-border) inset;
    column-gap: 8px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    height: 40px;
    outline-color: transparent;
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 2px;
    overflow: hidden;
    padding: 0 16px;
    transition-duration: 150ms;
    transition-property: background-color;
    width: stretch;
  }

  .select_trigger:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: var(--color-gray-3);
  }

  .select_trigger:focus-visible {
    outline-color: var(--color-primary);
  }

  .select_trigger:hover:not(:disabled),
  .select_trigger[data-popup-open] {
    background-color: var(--color-gray-3);
  }

  .select_trigger__value {
    align-items: center;
    color: var(--color-text-primary);
    column-gap: 6px;
    display: inline-flex;
    font-size: 14px;
    font-weight: 450;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .select_trigger__value[data-placeholder] {
    color: var(--color-gray-9);
  }

  .select_trigger__icon {
    margin-left: auto;
    transition-duration: 150ms;
    transition-property: rotate;
  }

  .select_trigger[data-popup-open] .select_trigger__icon {
    rotate: 180deg;
  }
}
