@layer components {
  .base {
    display: flex;
    flex-direction: column;
    outline-color: var(--color-primary-9);
    outline-offset: -2px;
    outline-style: solid;
    outline-width: 0px;
  }

  .base:focus-visible {
    outline-width: 2px;
  }
}
