[data-color-theme="light"][data-color-accent="grass"] {
  --color-accent-1: #fbfefb;
  --color-accent-2: #f5fbf5;
  --color-accent-3: #e9f6e9;
  --color-accent-4: #daf1db;
  --color-accent-5: #c9e8ca;
  --color-accent-6: #b2ddb5;
  --color-accent-7: #94ce9a;
  --color-accent-8: #65ba74;
  --color-accent-9: #46a758;
  --color-accent-10: #3e9b4f;
  --color-accent-11: #2a7e3b;
  --color-accent-12: #203c25;
}

[data-color-theme="dark"][data-color-accent="grass"] {
  --color-accent-1: #0e1511;
  --color-accent-2: #141a15;
  --color-accent-3: #1b2a1e;
  --color-accent-4: #1d3a24;
  --color-accent-5: #25482d;
  --color-accent-6: #2d5736;
  --color-accent-7: #366740;
  --color-accent-8: #3e7949;
  --color-accent-9: #46a758;
  --color-accent-10: #53b365;
  --color-accent-11: #71d083;
  --color-accent-12: #c2f0c2;
}

@media (color-gamut: p3) {
  [data-color-theme="light"][data-color-accent="grass"] {
    --color-accent-1: color(display-p3 0.986 0.996 0.985);
    --color-accent-2: color(display-p3 0.966 0.983 0.964);
    --color-accent-3: color(display-p3 0.923 0.965 0.917);
    --color-accent-4: color(display-p3 0.872 0.94 0.865);
    --color-accent-5: color(display-p3 0.811 0.908 0.802);
    --color-accent-6: color(display-p3 0.733 0.864 0.724);
    --color-accent-7: color(display-p3 0.628 0.803 0.622);
    --color-accent-8: color(display-p3 0.477 0.72 0.482);
    --color-accent-9: color(display-p3 0.38 0.647 0.378);
    --color-accent-10: color(display-p3 0.344 0.598 0.342);
    --color-accent-11: color(display-p3 0.263 0.488 0.261);
    --color-accent-12: color(display-p3 0.151 0.233 0.153);
  }

  [data-color-theme="dark"][data-color-accent="grass"] {
    --color-accent-1: color(display-p3 0.062 0.083 0.067);
    --color-accent-2: color(display-p3 0.083 0.103 0.085);
    --color-accent-3: color(display-p3 0.118 0.163 0.122);
    --color-accent-4: color(display-p3 0.142 0.225 0.15);
    --color-accent-5: color(display-p3 0.178 0.279 0.186);
    --color-accent-6: color(display-p3 0.217 0.337 0.224);
    --color-accent-7: color(display-p3 0.258 0.4 0.264);
    --color-accent-8: color(display-p3 0.302 0.47 0.305);
    --color-accent-9: color(display-p3 0.38 0.647 0.378);
    --color-accent-10: color(display-p3 0.426 0.694 0.426);
    --color-accent-11: color(display-p3 0.535 0.807 0.542);
    --color-accent-12: color(display-p3 0.797 0.936 0.776);
  }
}
