[data-color-theme="light"][data-color-accent="plum"] {
  --color-accent-1: #fefcff;
  --color-accent-2: #fdf7fd;
  --color-accent-3: #fbebfb;
  --color-accent-4: #f7def8;
  --color-accent-5: #f2d1f3;
  --color-accent-6: #e9c2ec;
  --color-accent-7: #deade3;
  --color-accent-8: #cf91d8;
  --color-accent-9: #ab4aba;
  --color-accent-10: #a144af;
  --color-accent-11: #953ea3;
  --color-accent-12: #53195d;
}

[data-color-theme="dark"][data-color-accent="plum"] {
  --color-accent-1: #181118;
  --color-accent-2: #201320;
  --color-accent-3: #351a35;
  --color-accent-4: #451d47;
  --color-accent-5: #512454;
  --color-accent-6: #5e3061;
  --color-accent-7: #734079;
  --color-accent-8: #92549c;
  --color-accent-9: #ab4aba;
  --color-accent-10: #b658c4;
  --color-accent-11: #e796f3;
  --color-accent-12: #f4d4f4;
}

@media (color-gamut: p3) {
  [data-color-theme="light"][data-color-accent="plum"] {
    --color-accent-1: color(display-p3 0.995 0.988 0.999);
    --color-accent-2: color(display-p3 0.988 0.971 0.99);
    --color-accent-3: color(display-p3 0.973 0.923 0.98);
    --color-accent-4: color(display-p3 0.953 0.875 0.966);
    --color-accent-5: color(display-p3 0.926 0.825 0.945);
    --color-accent-6: color(display-p3 0.89 0.765 0.916);
    --color-accent-7: color(display-p3 0.84 0.686 0.877);
    --color-accent-8: color(display-p3 0.775 0.58 0.832);
    --color-accent-9: color(display-p3 0.624 0.313 0.708);
    --color-accent-10: color(display-p3 0.587 0.29 0.667);
    --color-accent-11: color(display-p3 0.543 0.263 0.619);
    --color-accent-12: color(display-p3 0.299 0.114 0.352);
  }

  [data-color-theme="dark"][data-color-accent="plum"] {
    --color-accent-1: color(display-p3 0.09 0.068 0.092);
    --color-accent-2: color(display-p3 0.118 0.077 0.121);
    --color-accent-3: color(display-p3 0.192 0.105 0.202);
    --color-accent-4: color(display-p3 0.25 0.121 0.271);
    --color-accent-5: color(display-p3 0.293 0.152 0.319);
    --color-accent-6: color(display-p3 0.343 0.198 0.372);
    --color-accent-7: color(display-p3 0.424 0.262 0.461);
    --color-accent-8: color(display-p3 0.54 0.341 0.595);
    --color-accent-9: color(display-p3 0.624 0.313 0.708);
    --color-accent-10: color(display-p3 0.666 0.365 0.748);
    --color-accent-11: color(display-p3 0.86 0.602 0.933);
    --color-accent-12: color(display-p3 0.936 0.836 0.949);
  }
}
