@custom-variant dark (&:where([data-color-theme="dark"], [data-color-theme="dark"] *));

@theme {
  /* Reset ============================================= */
  --color-\*: initial;

  /* Neutral =========================================== */
  --color-neutral-1: var(--color-neutral-1);
  --color-neutral-2: var(--color-neutral-2);
  --color-neutral-3: var(--color-neutral-3);
  --color-neutral-4: var(--color-neutral-4);
  --color-neutral-5: var(--color-neutral-5);
  --color-neutral-6: var(--color-neutral-6);
  --color-neutral-7: var(--color-neutral-7);
  --color-neutral-8: var(--color-neutral-8);
  --color-neutral-9: var(--color-neutral-9);
  --color-neutral-10: var(--color-neutral-10);
  --color-neutral-11: var(--color-neutral-11);
  --color-neutral-12: var(--color-neutral-12);

  /* Accent ============================================ */
  --color-accent-1: var(--color-accent-1);
  --color-accent-2: var(--color-accent-2);
  --color-accent-3: var(--color-accent-3);
  --color-accent-4: var(--color-accent-4);
  --color-accent-5: var(--color-accent-5);
  --color-accent-6: var(--color-accent-6);
  --color-accent-7: var(--color-accent-7);
  --color-accent-8: var(--color-accent-8);
  --color-accent-9: var(--color-accent-9);
  --color-accent-10: var(--color-accent-10);
  --color-accent-11: var(--color-accent-11);
  --color-accent-12: var(--color-accent-12);

  /* Semantic ========================================== */
  --color-neutral: var(--color-neutral);
  --color-accent: var(--color-accent);

  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);
  --color-bg-shell-outer: var(--color-bg-shell-outer);
  --color-bg-shell-inner: var(--color-bg-shell-inner);

  --color-border: var(--color-border);

  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);

  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-error: var(--color-error);
}
