@layer components {
  /* ===================================================== */
  /* Base */
  /* ===================================================== */
  .base {
    background-color: var(--color-gray-6);
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    outline-color: var(--color-primary-9);
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 0;
    overflow: hidden;
    padding: 2px;
    transition-duration: 150ms;
    transition-property: background-color;
  }

  .base:focus-visible {
    outline-width: 2px;
  }

  .base[data-checked] {
    background-color: var(--color-primary-9);
  }

  .base[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  /* ===================================================== */
  /* Thumb */
  /* ===================================================== */

  .thumb {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 9999px;
    transition-duration: 150ms;
    transition-property: transform;
  }

  .thumb[data-checked] {
    transform: translateX(var(--translateX));
  }

  /* ===================================================== */
  /* Size */
  /* ===================================================== */
  .size_18 {
    --translateX: 12px;
    width: 30px;
    height: 18px;
  }

  .size_24 {
    --translateX: 16px;
    width: 40px;
    height: 24px;
  }
}
