/* Base */
.button_background {
  position: absolute;
  right: 0;
  left: 0;
  z-index: -1;
  filter: none !important;
  transition-duration: inherit;
  transition-property: opacity;
}

/* Rounded */
.button_background__rounded_base {
  border-radius: 7px;
}

@supports (corner-shape: squircle) {
  .button_background__rounded_base {
    border-radius: 9999px;
    corner-shape: squircle;
  }
}

.button_background__rounded_full {
  border-radius: 9999px;
}

/* Variant */
.button_background__variant_accent,
.button_background__variant_primary {
  top: 0;
  bottom: 50%;
  background-color: #ffffff;
  opacity: 8%;
}

:global(.dark) .button_background__variant_accent,
:global(.dark) .button_background__variant_primary {
  top: 50%;
  bottom: 0;
  background-color: #000000;
}

.button_background__variant_secondary {
  top: 50%;
  bottom: 0;
  background-color: #000000;
  opacity: 4%;
}

:global(.dark) .button_background__variant_secondary {
  top: 0;
  bottom: 50%;
  background-color: #ffffff;
}
