/* ===================================================== */
/* Base */
/* ===================================================== */
.button {
  align-items: safe center;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  column-gap: 8px;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-family: var(--font-sans, sans-serif);
  font-size: 14px;
  font-weight: 500;
  justify-content: safe center;
  line-height: 1.5;
  outline-color: var(--color-primary-9, #e93d82);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 0;
  overflow: hidden;
  position: relative;
  transition-duration: 150ms;
  transition-property:
    background-color, border-color, box-shadow, color, filter, opacity, scale,
    translate;
  user-select: none;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:focus-visible {
  outline-width: 2px;
}

.button:enabled[aria-pressed="true"],
.button:enabled:active {
  scale: 0.985;
  translate: 0 1px;
}

/* Disable child shadow */
.button:enabled[aria-pressed="true"] > *,
.button:enabled:active > *,
.button:enabled:hover > * {
  filter: none !important;
}

/* Hover */
.button:enabled[aria-pressed="true"],
.button:enabled:active,
.button:enabled:hover {
  opacity: 0.85;
}

/* Button background */
.button:enabled[aria-pressed="true"] > [data-element="button-background"],
.button:enabled:active > [data-element="button-background"],
.button:enabled:hover > [data-element="button-background"] {
  opacity: 0;
}

/* ===================================================== */
/* Icon only */
/* ===================================================== */
.button__icon_only {
  padding: 0 !important;
  width: var(--size) !important;
}

/* ===================================================== */
/* Rounded */
/* ===================================================== */
.button__rounded_base {
  border-radius: 8px;
}

.button__rounded_full {
  border-radius: 9999px;
}

/* ===================================================== */
/* Size */
/* ===================================================== */
.button__size_32 {
  --size: 32px;
  height: var(--size);
  padding: 0 8px;
}

.button__size_36 {
  --size: 36px;
  height: var(--size);
  padding: 0 12px;
}

.button__size_40 {
  --size: 40px;
  height: var(--size);
  padding: 0 16px;
}

.button__size_44 {
  --size: 44px;
  height: var(--size);
  padding: 0 20px;
}

/* ===================================================== */
/* Variant */
/* ===================================================== */
/* Accent */
.button__variant_accent {
  background-image: linear-gradient(
    to bottom,
    var(--color-primary-9, #e93d82),
    var(--color-primary-10, #e03177)
  );
  border-color: var(--color-primary-9, #e93d82);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.25),
    inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  color: var(--color-gray-1, #fdfcfd);
}

.button__variant_accent:enabled[aria-pressed="true"],
.button__variant_accent:enabled:active {
  box-shadow:
    inset 0 -1px 0 0 rgba(255, 255, 255, 0.25),
    inset 0 1px 0 0 var(--color-primary-11, #d31e66) !important;
}

/* Ghost */
.button__variant_ghost {
  background-color: transparent;
  color: var(--color-gray-11, #6f6e77);
}

.button__variant_ghost:enabled[aria-pressed="true"],
.button__variant_ghost:enabled:active {
  background-color: var(--color-gray-5, #e9e8ea) !important;
  color: var(--color-gray-12, #1a1523);
}

.button__variant_ghost:enabled:hover {
  background-color: color-mix(
    in oklab,
    var(--color-gray-5, #e9e8ea) 75%,
    transparent
  );
  color: var(--color-gray-12, #1a1523);
}

/* Primary */
.button__variant_primary {
  background-image: linear-gradient(
    to bottom,
    color-mix(in oklab, var(--color-gray-12, #1a1523) 90%, transparent),
    var(--color-gray-12, #1a1523)
  );
  border-color: var(--color-gray-12, #1a1523);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.25),
    inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  color: var(--color-gray-1, #fdfcfd);
}

.button__variant_primary:enabled[aria-pressed="true"],
.button__variant_primary:enabled:active {
  box-shadow:
    inset 0 -1px 0 0 rgba(255, 255, 255, 0.25),
    inset 0 1px 0 0 var(--color-gray-12, #1a1523) !important;
}

/* Secondary */
.button__variant_secondary {
  background-image: linear-gradient(
    to bottom,
    var(--color-gray-1, #fdfcfd),
    var(--color-gray-3, #f4f2f4)
  );
  border-color: var(--color-gray-6, #e4e2e4);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.25),
    inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  color: var(--color-gray-11, #6f6e77);
}

.button__variant_secondary:enabled[aria-pressed="true"],
.button__variant_secondary:enabled:active,
.button__variant_secondary:enabled:hover {
  border-color: var(--color-gray-8, #c8c7cb);
  color: var(--color-gray-12, #1a1523);
}

.button__variant_secondary:enabled[aria-pressed="true"],
.button__variant_secondary:enabled:active {
  box-shadow:
    inset 0 -1px 0 0 var(--color-gray-1, #fdfcfd),
    inset 0 1px 0 0 rgba(0, 0, 0, 0.1) !important;
}

/* Group */
.button__variant_accent,
.button__variant_primary,
.button__variant_secondary {
  filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.05));
}

.button__variant_accent > * {
  filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.1));
}

.button__variant_primary > * {
  filter: drop-shadow(0 1px 0 rgb(255 255 255 / 0.1));
}

.button__variant_accent:enabled:active,
.button__variant_accent:enabled:hover,
.button__variant_accent:enabled[aria-pressed="true"],
.button__variant_primary:enabled:active,
.button__variant_primary:enabled:hover,
.button__variant_primary:enabled[aria-pressed="true"],
.button__variant_secondary:enabled:active,
.button__variant_secondary:enabled:hover,
.button__variant_secondary:enabled[aria-pressed="true"] {
  box-shadow: inset 0 0 0 0 transparent;
  filter: drop-shadow(0 1px 0 transparent);
}

.button__variant_ghost:enabled:hover,
.button__variant_secondary:enabled:hover {
  color: var(--color-gray-12, #1a1523);
}

/* ===================================================== */
/* Width */
/* ===================================================== */
.button__width_base {
  width: max-content;
}

.button__width_full {
  width: 100%;
}
