/* ===================================================== */
/* Base */
/* ===================================================== */
.button {
  display: flex;
  flex-shrink: 0;
  column-gap: 8px;
  align-items: safe center;
  justify-content: safe center;
  overflow: hidden;
  font-family: var(--font-sans, sans-serif);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  user-select: none;
  outline-width: 2px;
  outline-style: hidden;
  outline-color: var(--color-primary-9);
  outline-offset: 2px;
  transition-duration: 150ms;
  transition-property: background-color, box-shadow, opacity, translate;
}

/* When active, move the button down */
.button:active:not(:disabled) {
  translate: 0 1px;
}

/* When disabled, disable cursor and reduce opacity */
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* When focused, show outline */
.button:focus-visible {
  outline-style: solid;
}

/* ===================================================== */
/* Rounded */
/* ===================================================== */
.button__rounded_base {
  border-radius: 8px;
}

@supports (corner-shape: squircle) {
  .button__rounded_base {
    border-radius: 9999px;
    corner-shape: squircle;
  }
}

.button__rounded_full {
  border-radius: 9999px;
}

/* ===================================================== */
/* Size */
/* ===================================================== */
.button__size_32 {
  height: 32px;
  padding: 0 10px;
}

.button__size_36 {
  height: 36px;
  padding: 0 12px;
}

.button__size_40 {
  height: 40px;
  padding: 0 14px;
}

.button__size_44 {
  height: 44px;
  padding: 0 16px;
}

.button__size_48 {
  height: 48px;
  padding: 0 18px;
}

/* ===================================================== */
/* Variant */
/* ===================================================== */
/* Accent */
.button__variant_accent {
  color: var(--color-white);
  background-color: var(--color-primary-9);
  background-image: linear-gradient(
    to bottom,
    color-mix(in oklab, transparent 100%, #ffffff 8%) 50%,
    color-mix(in oklab, transparent 100%, #ffffff 0%) 50%
  );
  box-shadow:
    0 0 0 1px var(--color-primary-9) inset,
    0 1px 0 1px rgba(255, 255, 255, 0.25) inset,
    0 -1px 0 1px rgba(0, 0, 0, 0.1) inset;
}

.button__variant_accent:active:not(:disabled) {
  box-shadow:
    0 0 0 1px var(--color-primary-9) inset,
    0 -1px 0 1px rgba(255, 255, 255, 0.25) inset,
    0 1px 0 1px rgba(0, 0, 0, 0.1) inset;
}

.button__variant_accent:hover:not(:disabled) {
  background-color: color-mix(in oklab, var(--color-primary-9) 100%, #ffffff 10%);
}

:global(.dark) .button__variant_accent {
  background-image: linear-gradient(
    to bottom,
    color-mix(in oklab, transparent 100%, #000000 0%) 50%,
    color-mix(in oklab, transparent 100%, #000000 8%) 50%
  );
}

/* Ghost */
.button__variant_ghost {
  color: var(--color-black);
  background-color: transparent;
}

.button__variant_ghost:hover:not(:disabled) {
  background-color: var(--color-gray-4);
}

:global(.dark) .button__variant_ghost {
  color: var(--color-white);
}

/* Primary */
.button__variant_primary {
  color: var(--color-white);
  background-color: var(--color-gray-dark-2);
  background-image: linear-gradient(
    to bottom,
    color-mix(in oklab, transparent 100%, #ffffff 8%) 50%,
    color-mix(in oklab, transparent 100%, #ffffff 0%) 50%
  );
  box-shadow:
    0 0 0 1px var(--color-gray-dark-2) inset,
    0 1px 0 1px rgba(255, 255, 255, 0.25) inset,
    0 -1px 0 1px rgba(0, 0, 0, 0.1) inset;
}

.button__variant_primary:active:not(:disabled) {
  box-shadow:
    0 0 0 1px var(--color-gray-dark-2) inset,
    0 -1px 0 1px rgba(255, 255, 255, 0.25) inset,
    0 1px 0 1px rgba(0, 0, 0, 0.1) inset;
}

.button__variant_primary:hover:not(:disabled) {
  background-color: color-mix(in oklab, var(--color-gray-dark-2) 100%, #ffffff 10%);
}

:global(.dark) .button__variant_primary {
  color: var(--color-black);
  background-color: var(--color-gray-light-2);
  background-image: linear-gradient(
    to bottom,
    color-mix(in oklab, transparent 100%, #000000 0%) 50%,
    color-mix(in oklab, transparent 100%, #000000 8%) 50%
  );
  box-shadow:
    0 0 0 1px var(--color-gray-light-2) inset,
    0 1px 0 1px rgba(255, 255, 255, 0.25) inset,
    0 -1px 0 1px rgba(0, 0, 0, 0.1) inset;
}

:global(.dark) .button__variant_primary:active:not(:disabled) {
  box-shadow:
    0 0 0 1px var(--color-gray-light-2) inset,
    0 -1px 0 1px rgba(255, 255, 255, 0.25) inset,
    0 1px 0 1px rgba(0, 0, 0, 0.1) inset;
}

:global(.dark) .button__variant_primary:hover:not(:disabled) {
  background-color: color-mix(in oklab, var(--color-gray-light-2) 100%, #000000 10%);
}

/* Secondary */
.button__variant_secondary {
  color: var(--color-black);
  background-color: var(--color-gray-light-1);
  background-image: linear-gradient(
    to bottom,
    color-mix(in oklab, transparent 100%, #000000 0%) 50%,
    color-mix(in oklab, transparent 100%, #000000 4%) 50%
  );
  box-shadow:
    0 0 0 1px var(--color-gray-light-4) inset,
    0 1px 0 1px rgba(255, 255, 255, 0.25) inset,
    0 -1px 0 1px rgba(0, 0, 0, 0.1) inset;
}

.button__variant_secondary:active:not(:disabled) {
  box-shadow:
    0 0 0 1px var(--color-gray-light-4) inset,
    0 -1px 0 1px rgba(255, 255, 255, 0.25) inset,
    0 1px 0 1px rgba(0, 0, 0, 0.1) inset;
}

.button__variant_secondary:hover:not(:disabled) {
  background-color: var(--color-gray-light-3);
}

:global(.dark) .button__variant_secondary {
  color: var(--color-white);
  background-color: var(--color-gray-dark-2);
  background-image: linear-gradient(
    to bottom,
    color-mix(in oklab, transparent 100%, #ffffff 4%) 50%,
    color-mix(in oklab, transparent 100%, #ffffff 0%) 50%
  );
  box-shadow:
    0 0 0 1px var(--color-gray-dark-4) inset,
    0 1px 0 1px rgba(255, 255, 255, 0.25) inset,
    0 -1px 0 1px rgba(0, 0, 0, 0.1) inset;
}

:global(.dark) .button__variant_secondary:active:not(:disabled) {
  box-shadow:
    0 0 0 1px var(--color-gray-dark-4) inset,
    0 -1px 0 1px rgba(255, 255, 255, 0.25) inset,
    0 1px 0 1px rgba(0, 0, 0, 0.1) inset;
}

:global(.dark) .button__variant_secondary:hover:not(:disabled) {
  background-color: var(--color-gray-dark-3);
}

/* ===================================================== */
/* Width */
/* ===================================================== */
.button__width_base {
  width: fit-content;
}

.button__width_full {
  width: 100%;
}
