/* ===================================================== */
/* Base */
/* ===================================================== */
.button {
  --color-button-gray-1: var(--color-gray-1);
  --color-button-gray-2: var(--color-gray-2);
  --color-button-gray-3: var(--color-gray-3);
  --color-button-gray-4: var(--color-gray-4);
  --color-button-gray-5: var(--color-gray-5);
  --color-button-gray-6: var(--color-gray-6);
  --color-button-gray-7: var(--color-gray-7);
  --color-button-gray-8: var(--color-gray-8);
  --color-button-gray-9: var(--color-gray-9);
  --color-button-gray-10: var(--color-gray-10);
  --color-button-gray-11: var(--color-gray-11);
  --color-button-gray-12: var(--color-gray-12);

  --color-button-primary-1: var(--color-primary-light-1);
  --color-button-primary-2: var(--color-primary-light-2);
  --color-button-primary-3: var(--color-primary-light-3);
  --color-button-primary-4: var(--color-primary-light-4);
  --color-button-primary-5: var(--color-primary-light-5);
  --color-button-primary-6: var(--color-primary-light-6);
  --color-button-primary-7: var(--color-primary-light-7);
  --color-button-primary-8: var(--color-primary-light-8);
  --color-button-primary-9: var(--color-primary-light-9);
  --color-button-primary-10: var(--color-primary-light-10);
  --color-button-primary-11: var(--color-primary-light-11);
  --color-button-primary-12: var(--color-primary-light-12);

  position: relative;
  display: flex;
  flex-shrink: 0;
  column-gap: 8px;
  align-items: safe center;
  justify-content: safe center;
  height: var(--size);
  padding: var(--padding);
  overflow: hidden;
  font-family: var(--font-sans, sans-serif);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  user-select: none;
  outline-width: 0;
  outline-style: solid;
  outline-color: var(--color-button-primary-9);
  outline-offset: 2px;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  transition-duration: 150ms;
  transition-property:
    background-color, border-color, box-shadow, color, filter, opacity, translate;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:focus-visible {
  outline-width: 2px;
}

.button:enabled[aria-pressed="true"],
.button:enabled:active {
  translate: 0 1px;
}

/* Disable child shadow */
.button:enabled[aria-pressed="true"] > *,
.button:enabled:active > *,
.button:enabled:hover > * {
  filter: none !important;
}

/* Hover */
.button:enabled[aria-pressed="true"],
.button:enabled:active,
.button:enabled:hover {
  opacity: 0.85;
}

/* Button background */
.button:enabled[aria-pressed="true"] > [data-element="button-background"],
.button:enabled:active > [data-element="button-background"],
.button:enabled:hover > [data-element="button-background"] {
  opacity: 0;
}

/* ===================================================== */
/* Icon only */
/* ===================================================== */
.button__icon_only {
  width: var(--size) !important;
  padding: 0 !important;
}

/* ===================================================== */
/* Rounded */
/* ===================================================== */
.button__rounded_base {
  border-radius: 8px;
}

@supports (corner-shape: squircle) {
  .button__rounded_base {
    border-radius: 9999px;
    corner-shape: squircle;
  }
}

.button__rounded_full {
  border-radius: 9999px;
}

/* ===================================================== */
/* Size */
/* ===================================================== */
.button__size_32 {
  --size: 32px;
  --padding: 0 10px;
}

.button__size_36 {
  --size: 36px;
  --padding: 0 12px;
}

.button__size_40 {
  --size: 40px;
  --padding: 0 14px;
}

.button__size_44 {
  --size: 44px;
  --padding: 0 16px;
}

.button__size_48 {
  --size: 48px;
  --padding: 0 18px;
}

/* ===================================================== */
/* Variant */
/* ===================================================== */
/* Accent */
.button__variant_accent {
  color: var(--color-white, #ffffff);
  background-image: linear-gradient(
    to bottom,
    var(--color-button-primary-9),
    var(--color-button-primary-10)
  );
  border-color: var(--color-button-primary-9);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.25),
    inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.button__variant_accent:enabled[aria-pressed="true"],
.button__variant_accent:enabled:active {
  box-shadow:
    inset 0 -1px 0 0 rgba(255, 255, 255, 0.25),
    inset 0 1px 0 0 var(--color-button-primary-11) !important;
}

/* Ghost */
.button__variant_ghost {
  color: var(--color-button-gray-11);
  background-color: transparent;
}

.button__variant_ghost:enabled[aria-pressed="true"],
.button__variant_ghost:enabled:active {
  color: var(--color-button-gray-12);
  background-color: var(--color-button-gray-5) !important;
}

.button__variant_ghost:enabled:hover {
  color: var(--color-button-gray-12);
  background-color: color-mix(in oklab, var(--color-button-gray-5) 75%, transparent);
}

/* Primary */
.button__variant_primary {
  color: var(--color-button-gray-1);
  background-image: linear-gradient(
    to bottom,
    color-mix(in oklab, var(--color-button-gray-12) 90%, transparent),
    var(--color-button-gray-12)
  );
  border-color: var(--color-button-gray-12);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.25),
    inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.button__variant_primary:enabled[aria-pressed="true"],
.button__variant_primary:enabled:active {
  box-shadow:
    inset 0 -1px 0 0 rgba(255, 255, 255, 0.25),
    inset 0 1px 0 0 var(--color-button-gray-12) !important;
}

/* Secondary */
.button__variant_secondary {
  color: var(--color-button-gray-11);
  background-color: var(--color-button-gray-2);
  border-color: var(--color-button-gray-6);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 1),
    inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.button__variant_secondary:enabled[aria-pressed="true"],
.button__variant_secondary:enabled:active,
.button__variant_secondary:enabled:hover {
  color: var(--color-button-gray-12);
  border-color: var(--color-button-gray-8);
}

.button__variant_secondary:enabled[aria-pressed="true"],
.button__variant_secondary:enabled:active {
  box-shadow:
    inset 0 -1px 0 0 rgba(255, 255, 255, 1),
    inset 0 1px 0 0 rgba(0, 0, 0, 0.1) !important;
}

/* Group */
.button__variant_accent,
.button__variant_primary,
.button__variant_secondary {
  filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.05));
}

.button__variant_accent > * {
  filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.1));
}

.button__variant_primary > * {
  filter: drop-shadow(0 1px 0 rgb(255 255 255 / 0.1));
}

.button__variant_accent:enabled:active,
.button__variant_accent:enabled:hover,
.button__variant_accent:enabled[aria-pressed="true"],
.button__variant_primary:enabled:active,
.button__variant_primary:enabled:hover,
.button__variant_primary:enabled[aria-pressed="true"],
.button__variant_secondary:enabled:active,
.button__variant_secondary:enabled:hover,
.button__variant_secondary:enabled[aria-pressed="true"] {
  box-shadow: inset 0 0 0 0 transparent;
  filter: drop-shadow(0 1px 0 transparent);
}

.button__variant_ghost:enabled:hover,
.button__variant_secondary:enabled:hover {
  color: var(--color-button-gray-12);
}

/* ===================================================== */
/* Width */
/* ===================================================== */
.button__width_base {
  width: max-content;
}

.button__width_full {
  width: 100%;
}
