/* ===================================================== */
/* Base */
/* ===================================================== */
.button {
  display: flex;
  flex-shrink: 0;
  column-gap: 8px;
  align-items: safe center;
  justify-content: safe center;
  height: var(--size);
  overflow: hidden;
  font-family: var(--font-sans, sans-serif);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  user-select: none;
  outline-width: 2px;
  outline-style: none;
  outline-color: var(--color-primary-9);
  outline-offset: 2px;
  transition-duration: 150ms;
  transition-property: background-color, box-shadow, opacity, translate;
}

/* When pressed, move the button down */
.button:active:not(:disabled),
.button[aria-pressed="true"]:not(:disabled) {
  translate: 0 1px;
}

/* When disabled, disable cursor and reduce opacity */
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* When keyboard focused, show outline */
.button:focus-visible {
  outline-style: solid;
}

/* ===================================================== */
/* Icon only */
/* ===================================================== */
.button__icon_only {
  width: var(--size) !important;
  padding: 0 !important;
}

/* ===================================================== */
/* Rounded */
/* ===================================================== */
.button__rounded_base {
  border-radius: 12px;
}

.button__rounded_full {
  border-radius: 9999px !important;
}

/* ===================================================== */
/* Size */
/* ===================================================== */
.button__size_32 {
  --size: 32px;
  padding: 0 10px;
  border-radius: 8px;
}

.button__size_36 {
  --size: 36px;
  padding: 0 12px;
  border-radius: 10px;
}

.button__size_40 {
  --size: 40px;
  padding: 0 14px;
  border-radius: 12px;
}

.button__size_44 {
  --size: 44px;
  padding: 0 16px;
  border-radius: 14px;
}

.button__size_48 {
  --size: 48px;
  padding: 0 18px;
  border-radius: 16px;
}

/* ===================================================== */
/* Variant */
/* ===================================================== */
/* Accent */
.button__variant_accent {
  color: var(--color-white);
  background-color: var(--color-primary-9);
  background-image: linear-gradient(
    to bottom,
    color-mix(in oklab, transparent 100%, #ffffff 5%) 50%,
    color-mix(in oklab, transparent 100%, #ffffff 0%) 50%
  );
}

.button__variant_accent:active:not(:disabled),
.button__variant_accent:hover:not(:disabled),
.button__variant_accent[aria-pressed="true"]:not(:disabled) {
  background-color: color-mix(in oklab, var(--color-primary-9) 100%, #ffffff 10%);
}

:global(.dark) .button__variant_accent {
  background-image: linear-gradient(
    to bottom,
    color-mix(in oklab, transparent 100%, #000000 0%) 50%,
    color-mix(in oklab, transparent 100%, #000000 5%) 50%
  );
}

/* Ghost */
.button__variant_ghost {
  color: var(--color-black);
  background-color: transparent;
}

.button__variant_ghost:active:not(:disabled),
.button__variant_ghost:hover:not(:disabled),
.button__variant_ghost[aria-pressed="true"]:not(:disabled) {
  background-color: var(--color-gray-3);
}

:global(.dark) .button__variant_ghost {
  color: var(--color-white);
}

/* Primary */
.button__variant_primary {
  color: var(--color-white);
  background-color: var(--color-gray-dark-1);
  background-image: linear-gradient(
    to bottom,
    color-mix(in oklab, transparent 100%, #ffffff 5%) 50%,
    color-mix(in oklab, transparent 100%, #ffffff 0%) 50%
  );
}

.button__variant_primary:active:not(:disabled),
.button__variant_primary:hover:not(:disabled),
.button__variant_primary[aria-pressed="true"]:not(:disabled) {
  background-color: color-mix(in oklab, var(--color-gray-dark-2) 100%, #ffffff 10%);
}

:global(.dark) .button__variant_primary {
  color: var(--color-black);
  background-color: var(--color-gray-light-1);
  background-image: linear-gradient(
    to bottom,
    color-mix(in oklab, transparent 100%, #000000 0%) 50%,
    color-mix(in oklab, transparent 100%, #000000 5%) 50%
  );
}

:global(.dark) .button__variant_primary:active:not(:disabled),
:global(.dark) .button__variant_primary:hover:not(:disabled),
:global(.dark) .button__variant_primary[aria-pressed="true"]:not(:disabled) {
  background-color: color-mix(in oklab, var(--color-gray-light-2) 100%, #000000 10%);
}

/* Secondary */
.button__variant_secondary {
  color: var(--color-black);
  background-color: var(--color-gray-1);
  background-image: linear-gradient(
    to bottom,
    color-mix(in oklab, transparent 100%, #000000 0%) 50%,
    color-mix(in oklab, transparent 100%, #000000 2.5%) 50%
  );
  box-shadow: 0 0 0 1px var(--color-gray-4) inset;
}

.button__variant_secondary:active:not(:disabled),
.button__variant_secondary:hover:not(:disabled),
.button__variant_secondary[aria-pressed="true"]:not(:disabled) {
  background-color: var(--color-gray-2);
  box-shadow: 0 0 0 1px var(--color-gray-6) inset;
}

:global(.dark) .button__variant_secondary {
  color: var(--color-white);
  background-image: linear-gradient(
    to bottom,
    color-mix(in oklab, transparent 100%, #ffffff 2.5%) 50%,
    color-mix(in oklab, transparent 100%, #ffffff 0%) 50%
  );
}

/* ===================================================== */
/* Width */
/* ===================================================== */
.button__width_base {
  width: max-content; /* Fit the button content */
}

.button__width_full {
  width: 100%;
}
