.button {
  display: flex;
  column-gap: 8px;
  flex-shrink: 0;
  justify-content: safe center;
  align-items: safe center;
  transition-duration: 150ms;
  transition-property: all;
  cursor: pointer;
  outline-width: 0;
  border: 1px dashed red;
  border-radius: 8px;
  font-weight: 400;
  line-height: 1.5;
  user-select: none;
}

.button__size_32 {
  padding: 0 8px;
  height: 32px;
  font-size: 14px;
}

.button__size_36 {
  padding: 0 12px;
  height: 36px;
  font-size: 14px;
}

.button__size_40 {
  padding: 0 16px;
  height: 40px;
  font-size: 14px;
}

.button__size_48 {
  padding: 0 20px;
  height: 48px;
  font-size: 16px;
}
