/* ===================================================== */
/* Base */
/* ===================================================== */
.input {
  flex-shrink: 0;
  width: 100%;
  height: var(--size);
  padding: 0 12px;
  font-family: var(--font-sans, sans-serif);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-gray-12, #202020);
  text-decoration: none;
  appearance: none;
  cursor: text;
  outline-width: 2px;
  outline-style: solid;
  outline-color: transparent;
  outline-offset: -2px;
  background-color: var(--color-gray-1, #fcfcfc);
  border-color: var(--color-gray-5, #e0e0e0);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.05);
  transition-duration: 150ms;
  transition-property: background-color, border-color, box-shadow, opacity;
}

:global(.dark) .input {
  background-color: var(--color-gray-2, #101010);
}

@supports (corner-shape: squircle) {
  .input {
    border-radius: 9999px;
    corner-shape: squircle;
  }
}

.input::placeholder {
  color: var(--color-gray, #8d8d8d);
  user-select: none;
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.input:enabled:active,
.input:enabled:focus,
.input:enabled:hover,
.input:enabled[aria-pressed="true"] {
  border-color: var(--color-gray-8, #bbbbbb);
  box-shadow: 0 1px transparent;
}

.input[data-is-valid="true"] {
  outline-color: #30a46c;
}

.input[data-is-invalid="true"] {
  outline-color: #e5484d;
}

/* Focus overrides valid and invalid */
.input:focus-visible {
  outline-color: var(--color-primary-9, #e93d82);
}

/* ===================================================== */
/* Password */
/* ===================================================== */
.input__password {
  font-family: var(--font-mono, monospace);
}

/* ===================================================== */
/* Size */
/* ===================================================== */
.input__size_32 {
  --size: 32px;
}

.input__size_36 {
  --size: 36px;
}

.input__size_40 {
  --size: 40px;
}

.input__size_44 {
  --size: 44px;
}
