/* ===================================================== */
/* Base */
/* ===================================================== */
.input {
  width: 100%;
  min-height: var(--height);
  max-height: var(--height);
  padding: 0 12px;
  font-family: var(--font-sans, sans-serif);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-gray-12, #202020);
  text-decoration: none;
  appearance: none;
  cursor: text;
  outline-width: 2px;
  outline-style: solid;
  outline-color: transparent;
  outline-offset: -2px;
  background-color: var(--color-gray-1, #fcfcfc);
  border-style: none;
  box-shadow:
    0 -1px 0 0px rgba(0, 0, 0, 7.5%) inset,
    /* Bottom */ 0 0 0 1px var(--color-gray-4) inset; /* Border */
  transition-duration: 150ms;
  transition-property: box-shadow, opacity;
}

.input::placeholder {
  color: var(--color-gray-9, #8d8d8d);
  user-select: none;
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.input:enabled:active,
.input:enabled:focus,
.input:enabled:hover,
.input:enabled[aria-pressed="true"] {
  box-shadow:
    0 -1px 0 0px rgba(0, 0, 0, 7.5%) inset,
    /* Bottom */ 0 0 0 1px var(--color-gray-6) inset; /* Border */
}

.input[data-is-valid="true"] {
  outline-color: #30a46c;
}

.input[data-is-invalid="true"] {
  outline-color: #e5484d;
}

/* Focus overrides valid and invalid */
.input:focus-visible {
  outline-color: var(--color-primary-9, #e93d82);
}

:global(.dark) .input {
  background-color: var(--color-gray-2, #101010);
  box-shadow:
    0 1px 0 0px rgba(255, 255, 255, 7.5%) inset,
    /* Top */ 0 0 0 1px var(--color-gray-4) inset; /* Border */
}

:global(.dark) .input:enabled:active,
:global(.dark) .input:enabled:focus,
:global(.dark) .input:enabled:hover,
:global(.dark) .input:enabled[aria-pressed="true"] {
  box-shadow:
    0 1px 0 0px rgba(255, 255, 255, 7.5%) inset,
    /* Top */ 0 0 0 1px var(--color-gray-6) inset; /* Border */
}

/* ===================================================== */
/* Password */
/* ===================================================== */
.input__password {
  font-family: var(--font-mono, monospace);
}

/* ===================================================== */
/* Rounded */
/* ===================================================== */
.input__rounded_base {
  border-radius: 12px;
}

.input__rounded_full {
  border-radius: 9999px;
}

/* ===================================================== */
/* Size */
/* ===================================================== */
.input__size_32 {
  --height: 32px;
}

.input__size_36 {
  --height: 36px;
}

.input__size_40 {
  --height: 40px;
}

.input__size_44 {
  --height: 44px;
}

.input__size_48 {
  --height: 48px;
}
