/* ===================================================== */
/* Base */
/* ===================================================== */
.label {
  width: fit-content;
  font-size: 13px;
  font-weight: 500;
  color: var(--color-gray-11, #646464);
}
