/* ===================================================== */
/* Base */
/* ===================================================== */
.switch {
  display: flex;
  padding: 2px;
  overflow: hidden;
  cursor: pointer;
  outline-width: 2px;
  outline-style: none;
  outline-color: var(--color-primary-9);
  outline-offset: 2px;
  background-color: var(--color-gray-6);
  border-radius: 9999px;
  transition-duration: 150ms;
  transition-property: background-color;
}

.switch:focus-visible {
  outline-style: solid;
}

.switch[data-checked] {
  background-color: var(--color-primary-9);
}

.switch[data-disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

/* ===================================================== */
/* Thumb */
/* ===================================================== */

.switch__thumb {
  height: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--color-white);
  border-radius: 9999px;
  transition-duration: 150ms;
  transition-property: transform;
}

.switch__thumb[data-checked] {
  transform: translateX(var(--translateX));
}

/* ===================================================== */
/* Size */
/* ===================================================== */
.switch__size_14 {
  --translateX: 12px;
  width: 30px;
  height: 18px;
}

.switch__size_24 {
  --translateX: 16px;
  width: 40px;
  height: 24px;
}
