@theme {
  --shadow-\*: initial;
  /*
      Reference: https://www.reshaped.so/docs/tokens/shadow
  */
  --shadow-outline: 0px 1px 2px -0.5px #0000000f, 0px 2px 3px -1px #0000000f;
  --shadow-raised: 0px 8px 12px -4px #00000014, 0px 1px 2px 0px #0000001a;
  --shadow-overlay:
    0px 16px 24px -4px #0000000f, 0px 8px 12px -4px #0000000f, 0px 4px 6px -2px #0000000f;
}
