.drawer_popup {
  background-color: var(--color-gray-1);
  border-radius: 16px;
  cursor: auto;
  display: flex;
  flex-direction: column;
  max-width: 640px;
  outline-color: var(--color-primary-9);
  outline-offset: -4px;
  outline-style: solid;
  outline-width: 0;
  transition-duration: 150ms;
  transition-property: opacity, transform;
  width: 100%;
  will-change: opacity, transform;
}

.drawer_popup:focus-visible {
  outline-width: 2px;
}

/* Desktop */
.drawer_popup[data-ending-style],
.drawer_popup[data-starting-style] {
  opacity: 0;
  transform: scale(0.975);
}

.drawer_popup[data-swiping] {
  user-select: none;
}

/* Mobile */
@media (max-width: 640px) {
  .drawer_popup {
    --radius-mobile: 24px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--radius-mobile);
    border-top-right-radius: var(--radius-mobile);
    transform: translateY(var(--drawer-swipe-movement-y));
    transition-duration: 450ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
  }

  .drawer_popup[data-ending-style],
  .drawer_popup[data-starting-style] {
    opacity: 1;
    transform: scale(1) translateY(100%);
  }

  .drawer_popup[data-ending-style] {
    transition-duration: calc(var(--drawer-swipe-strength) * 300ms);
  }
}
