.tabs_segmented_tab {
  align-items: center;
  border-radius: 10px;
  color: var(--color-gray-11);
  column-gap: 8px;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  outline-color: var(--color-primary-9);
  outline-offset: -4px;
  outline-style: solid;
  outline-width: 0px;
  padding: 0 14px;
  transition-duration: 150ms;
  transition-property: color;
}

.tabs_segmented_tab:focus-visible {
  outline-width: 2px;
}

.tabs_segmented_tab:hover,
.tabs_segmented_tab[data-active] {
  color: var(--color-gray-12);
}

/* Icon size */
.tabs_segmented_tab > svg {
  --size-icon: 16px;
  height: var(--size-icon);
  width: var(--size-icon);
}
