.tabs_segmented_list {
  background-color: var(--color-gray-3);
  border-radius: 12px;
  display: flex;
  height: 40px;
  isolation: isolate;
  overflow-x: auto;
  padding: 2px;
  position: relative;
  width: fit-content;
}
