@layer components {
  .base {
    background-color: var(--color-gray-3);
    border-radius: 14px;
    box-shadow: 0 0 0 1px var(--color-border) inset;
    color: var(--color-text-primary);
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    outline-color: var(--color-outline);
    outline-offset: -2px;
    outline-style: solid;
    outline-width: 0;
    text-align: center;
    transition-duration: 150ms;
    transition-property: box-shadow;
    width: 40px;
  }

  .base:enabled:hover {
    box-shadow: 0 0 0 1px var(--color-gray-6) inset;
  }

  .base:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .base:focus-visible {
    outline-width: 2px;
  }
}
