@layer components {
  .base {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    width: fit-content;
  }

  .masked > input {
    font-family: var(--font-code);
  }
}
