@layer components {
  .otp_field {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    width: fit-content;
  }

  .otp_field__masked > input {
    font-family: var(--font-code);
  }
}
