[data-color-neutral="gray"] {
  --color-neutral-1: light-dark(#fcfcfc, #111111);
  --color-neutral-2: light-dark(#f9f9f9, #191919);
  --color-neutral-3: light-dark(#f0f0f0, #222222);
  --color-neutral-4: light-dark(#e8e8e8, #2a2a2a);
  --color-neutral-5: light-dark(#e0e0e0, #313131);
  --color-neutral-6: light-dark(#d9d9d9, #3a3a3a);
  --color-neutral-7: light-dark(#cecece, #484848);
  --color-neutral-8: light-dark(#bbbbbb, #606060);
  --color-neutral-9: light-dark(#8d8d8d, #6e6e6e);
  --color-neutral-10: light-dark(#838383, #7b7b7b);
  --color-neutral-11: light-dark(#646464, #b4b4b4);
  --color-neutral-12: light-dark(#202020, #eeeeee);
}

@media (color-gamut: p3) {
  [data-color-neutral="gray"] {
    --color-neutral-1: light-dark(
      color(display-p3 0.988 0.988 0.988),
      color(display-p3 0.067 0.067 0.067)
    );
    --color-neutral-2: light-dark(
      color(display-p3 0.975 0.975 0.975),
      color(display-p3 0.098 0.098 0.098)
    );
    --color-neutral-3: light-dark(
      color(display-p3 0.939 0.939 0.939),
      color(display-p3 0.135 0.135 0.135)
    );
    --color-neutral-4: light-dark(
      color(display-p3 0.908 0.908 0.908),
      color(display-p3 0.163 0.163 0.163)
    );
    --color-neutral-5: light-dark(
      color(display-p3 0.88 0.88 0.88),
      color(display-p3 0.192 0.192 0.192)
    );
    --color-neutral-6: light-dark(
      color(display-p3 0.849 0.849 0.849),
      color(display-p3 0.228 0.228 0.228)
    );
    --color-neutral-7: light-dark(
      color(display-p3 0.807 0.807 0.807),
      color(display-p3 0.283 0.283 0.283)
    );
    --color-neutral-8: light-dark(
      color(display-p3 0.732 0.732 0.732),
      color(display-p3 0.375 0.375 0.375)
    );
    --color-neutral-9: light-dark(
      color(display-p3 0.553 0.553 0.553),
      color(display-p3 0.431 0.431 0.431)
    );
    --color-neutral-10: light-dark(
      color(display-p3 0.512 0.512 0.512),
      color(display-p3 0.484 0.484 0.484)
    );
    --color-neutral-11: light-dark(
      color(display-p3 0.392 0.392 0.392),
      color(display-p3 0.706 0.706 0.706)
    );
    --color-neutral-12: light-dark(
      color(display-p3 0.125 0.125 0.125),
      color(display-p3 0.933 0.933 0.933)
    );
  }
}
