[data-color-neutral="mauve"] {
  --color-neutral-1: light-dark(#fdfcfd, #121113);
  --color-neutral-2: light-dark(#faf9fb, #1a191b);
  --color-neutral-3: light-dark(#f2eff3, #232225);
  --color-neutral-4: light-dark(#eae7ec, #2b292d);
  --color-neutral-5: light-dark(#e3dfe6, #323035);
  --color-neutral-6: light-dark(#dbd8e0, #3c393f);
  --color-neutral-7: light-dark(#d0cdd7, #49474e);
  --color-neutral-8: light-dark(#bcbac7, #625f69);
  --color-neutral-9: light-dark(#8e8c99, #6f6d78);
  --color-neutral-10: light-dark(#84828e, #7c7a85);
  --color-neutral-11: light-dark(#65636d, #b5b2bc);
  --color-neutral-12: light-dark(#211f26, #eeeef0);
}

@media (color-gamut: p3) {
  [data-color-neutral="mauve"] {
    --color-neutral-1: light-dark(
      color(display-p3 0.991 0.988 0.992),
      color(display-p3 0.07 0.067 0.074)
    );
    --color-neutral-2: light-dark(
      color(display-p3 0.98 0.976 0.984),
      color(display-p3 0.101 0.098 0.105)
    );
    --color-neutral-3: light-dark(
      color(display-p3 0.946 0.938 0.952),
      color(display-p3 0.138 0.134 0.144)
    );
    --color-neutral-4: light-dark(
      color(display-p3 0.915 0.906 0.925),
      color(display-p3 0.167 0.161 0.175)
    );
    --color-neutral-5: light-dark(
      color(display-p3 0.886 0.876 0.901),
      color(display-p3 0.196 0.189 0.206)
    );
    --color-neutral-6: light-dark(
      color(display-p3 0.856 0.846 0.875),
      color(display-p3 0.232 0.225 0.245)
    );
    --color-neutral-7: light-dark(
      color(display-p3 0.814 0.804 0.84),
      color(display-p3 0.286 0.277 0.302)
    );
    --color-neutral-8: light-dark(
      color(display-p3 0.735 0.728 0.777),
      color(display-p3 0.383 0.373 0.408)
    );
    --color-neutral-9: light-dark(
      color(display-p3 0.555 0.549 0.596),
      color(display-p3 0.434 0.428 0.467)
    );
    --color-neutral-10: light-dark(
      color(display-p3 0.514 0.508 0.552),
      color(display-p3 0.487 0.48 0.519)
    );
    --color-neutral-11: light-dark(
      color(display-p3 0.395 0.388 0.424),
      color(display-p3 0.707 0.7 0.735)
    );
    --color-neutral-12: light-dark(
      color(display-p3 0.128 0.122 0.147),
      color(display-p3 0.933 0.933 0.94)
    );
  }
}
