[data-color-neutral="sage"] {
  --color-neutral-1: light-dark(#fbfdfc, #101211);
  --color-neutral-2: light-dark(#f7f9f8, #171918);
  --color-neutral-3: light-dark(#eef1f0, #202221);
  --color-neutral-4: light-dark(#e6e9e8, #272a29);
  --color-neutral-5: light-dark(#dfe2e0, #2e3130);
  --color-neutral-6: light-dark(#d7dad9, #373b39);
  --color-neutral-7: light-dark(#cbcfcd, #444947);
  --color-neutral-8: light-dark(#b8bcba, #5b625f);
  --color-neutral-9: light-dark(#868e8b, #63706b);
  --color-neutral-10: light-dark(#7c8481, #717d79);
  --color-neutral-11: light-dark(#5f6563, #adb5b2);
  --color-neutral-12: light-dark(#1a211e, #eceeed);
}

@media (color-gamut: p3) {
  [data-color-neutral="sage"] {
    --color-neutral-1: light-dark(
      color(display-p3 0.986 0.992 0.988),
      color(display-p3 0.064 0.07 0.067)
    );
    --color-neutral-2: light-dark(
      color(display-p3 0.97 0.977 0.974),
      color(display-p3 0.092 0.098 0.094)
    );
    --color-neutral-3: light-dark(
      color(display-p3 0.935 0.944 0.94),
      color(display-p3 0.128 0.135 0.131)
    );
    --color-neutral-4: light-dark(
      color(display-p3 0.904 0.913 0.909),
      color(display-p3 0.155 0.164 0.159)
    );
    --color-neutral-5: light-dark(
      color(display-p3 0.875 0.885 0.88),
      color(display-p3 0.183 0.193 0.188)
    );
    --color-neutral-6: light-dark(
      color(display-p3 0.844 0.854 0.849),
      color(display-p3 0.218 0.23 0.224)
    );
    --color-neutral-7: light-dark(
      color(display-p3 0.8 0.811 0.806),
      color(display-p3 0.269 0.285 0.277)
    );
    --color-neutral-8: light-dark(
      color(display-p3 0.725 0.738 0.732),
      color(display-p3 0.362 0.382 0.373)
    );
    --color-neutral-9: light-dark(
      color(display-p3 0.531 0.556 0.546),
      color(display-p3 0.398 0.438 0.421)
    );
    --color-neutral-10: light-dark(
      color(display-p3 0.492 0.515 0.506),
      color(display-p3 0.453 0.49 0.474)
    );
    --color-neutral-11: light-dark(
      color(display-p3 0.377 0.395 0.389),
      color(display-p3 0.685 0.709 0.697)
    );
    --color-neutral-12: light-dark(
      color(display-p3 0.107 0.129 0.118),
      color(display-p3 0.927 0.933 0.93)
    );
  }
}
