[data-color-neutral="slate"] {
  --color-neutral-1: light-dark(#fcfcfd, #111113);
  --color-neutral-2: light-dark(#f9f9fb, #18191b);
  --color-neutral-3: light-dark(#f0f0f3, #212225);
  --color-neutral-4: light-dark(#e8e8ec, #272a2d);
  --color-neutral-5: light-dark(#e0e1e6, #2e3135);
  --color-neutral-6: light-dark(#d9d9e0, #363a3f);
  --color-neutral-7: light-dark(#cdced6, #43484e);
  --color-neutral-8: light-dark(#b9bbc6, #5a6169);
  --color-neutral-9: light-dark(#8b8d98, #696e77);
  --color-neutral-10: light-dark(#80838d, #777b84);
  --color-neutral-11: light-dark(#60646c, #b0b4ba);
  --color-neutral-12: light-dark(#1c2024, #edeef0);
}

@media (color-gamut: p3) {
  [data-color-neutral="slate"] {
    --color-neutral-1: light-dark(
      color(display-p3 0.988 0.988 0.992),
      color(display-p3 0.067 0.067 0.074)
    );
    --color-neutral-2: light-dark(
      color(display-p3 0.976 0.976 0.984),
      color(display-p3 0.095 0.098 0.105)
    );
    --color-neutral-3: light-dark(
      color(display-p3 0.94 0.941 0.953),
      color(display-p3 0.13 0.135 0.145)
    );
    --color-neutral-4: light-dark(
      color(display-p3 0.908 0.909 0.925),
      color(display-p3 0.156 0.163 0.176)
    );
    --color-neutral-5: light-dark(
      color(display-p3 0.88 0.881 0.901),
      color(display-p3 0.183 0.191 0.206)
    );
    --color-neutral-6: light-dark(
      color(display-p3 0.85 0.852 0.876),
      color(display-p3 0.215 0.226 0.244)
    );
    --color-neutral-7: light-dark(
      color(display-p3 0.805 0.808 0.838),
      color(display-p3 0.265 0.28 0.302)
    );
    --color-neutral-8: light-dark(
      color(display-p3 0.727 0.733 0.773),
      color(display-p3 0.357 0.381 0.409)
    );
    --color-neutral-9: light-dark(
      color(display-p3 0.547 0.553 0.592),
      color(display-p3 0.415 0.431 0.463)
    );
    --color-neutral-10: light-dark(
      color(display-p3 0.503 0.512 0.549),
      color(display-p3 0.469 0.483 0.514)
    );
    --color-neutral-11: light-dark(
      color(display-p3 0.379 0.392 0.421),
      color(display-p3 0.692 0.704 0.728)
    );
    --color-neutral-12: light-dark(
      color(display-p3 0.113 0.125 0.14),
      color(display-p3 0.93 0.933 0.94)
    );
  }
}
