@layer components {
  .base {
    --backdrop-opacity: 0.25;
    background-color: black;
    inset: 0;
    opacity: calc(var(--backdrop-opacity) * (1 - var(--drawer-swipe-progress)));
    outline-color: var(--color-primary-9);
    position: fixed;
    transition-duration: 150ms;
    transition-property: opacity;
  }

  .base[data-ending-style],
  .base[data-starting-style] {
    opacity: 0;
  }

  .base[data-ending-style] {
    transition-duration: calc(var(--drawer-swipe-strength) * 400ms);
  }

  .base[data-swiping] {
    transition-duration: 0ms;
  }

  :global(.dark) .base {
    --backdrop-opacity: 0.75;
  }
}
