.dialog_responsive_bar {
  background-color: var(--color-gray-4);
  border-radius: 9999px;
  display: none;
  height: 4px;
  margin: 12px auto;
  width: 48px;
}

@media (max-width: 640px) {
  .dialog_responsive_bar {
    display: block;
  }
}
