@layer components {
  .base {
    align-items: safe center;
    cursor: pointer;
    display: flex;
    inset: 0;
    justify-content: safe center;
    padding: 24px;
    position: fixed;
  }

  @media (max-width: 640px) {
    .base {
      align-items: safe flex-end;
      padding: 48px 0 0;
    }
  }
}
