.dialog_responsive_backdrop {
  --backdrop-opacity: 0.25;
  background-color: black;
  inset: 0;
  opacity: calc(var(--backdrop-opacity) * (1 - var(--drawer-swipe-progress)));
  outline-color: var(--color-primary-9);
  position: fixed;
  transition-duration: 150ms;
  transition-property: opacity;
}

.dialog_responsive_backdrop[data-ending-style],
.dialog_responsive_backdrop[data-starting-style] {
  opacity: 0;
}

.dialog_responsive_backdrop[data-ending-style] {
  transition-duration: calc(var(--drawer-swipe-strength) * 400ms);
}

.dialog_responsive_backdrop[data-swiping] {
  transition-duration: 0ms;
}

:global(.dark) .dialog_responsive_backdrop {
  --backdrop-opacity: 0.75;
}
