@theme {
  --container-\*: initial;
  --container-256: 16rem;
  --container-320: 20rem;
  --container-384: 24rem;
  --container-480: 30rem;
  --container-512: 32rem;
  --container-640: 40rem;
  --container-768: 48rem;
  --container-800: 50rem;
  --container-960: 60rem;
  --container-1024: 64rem;
  --container-1280: 80rem;
}
