@theme {
  --container-\*: initial;
  --container-256: 25.6rem;
  --container-320: 32rem;
  --container-384: 38.4rem;
  --container-480: 48rem;
  --container-512: 51.2rem;
  --container-640: 64rem;
  --container-768: 76.8rem;
  --container-800: 80rem;
  --container-960: 96rem;
  --container-1024: 102.4rem;
  --container-1280: 128rem;
}
